[*]
# Don't use tabs for indentation unless otherwise overridden
indent_style = space
end_of_line = crlf
guidelines = 80 dotted, 114 dotted
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# VSSPELL: Spell checker settings for all files
vsspell_section_id = 4ab9fbff07c9470c9a57edd4ce8100fb
vsspell_code_analyzer_ignore_identifier_if_private = true
vsspell_code_analyzer_ignore_identifier_if_internal = true
vsspell_code_analyzer_ignore_identifier_if_all_uppercase = true
vsspell_code_analyzer_ignore_identifiers_within_member_bodies = true
vsspell_code_analyzer_ignore_if_compiler_generated = true
vsspell_code_analyzer_ignore_delimited_comments = true
vsspell_code_analyzer_ignore_quadruple_slash_comments = true
vsspell_code_analyzer_apply_to_all_c_style_languages = true
vsspell_ignored_words_4ab9fbff07c9470c9a57edd4ce8100fb = File:IgnoredWords.dic

[*de-DE.xml]
# VSSPELL: Spell checker settings for German resource files
vsspell_section_id = 6a5d672665244bd0aedf29be0c54a902
vsspell_dictionary_languages_6a5d672665244bd0aedf29be0c54a902 = de-DE,en-US
vsspell_include_in_project_spell_check = false

[de-DE/**]
# VSSPELL: Spell checker settings for German resource files
vsspell_section_id = 6a5d672665244bd0aedf29be0c54a902
vsspell_dictionary_languages_6a5d672665244bd0aedf29be0c54a902 = de-DE,en-US
vsspell_include_in_project_spell_check = false

[*es-ES.xml]
# VSSPELL: Spell checker settings for Spanish resource files
vsspell_section_id = a41b390e15ca4b0c9d7d4c99cbf21725
vsspell_dictionary_languages_a41b390e15ca4b0c9d7d4c99cbf21725 = es-ES,en-US
vsspell_include_in_project_spell_check = false

[*fr-FR.xml]
# VSSPELL: Spell checker settings for French resource files
vsspell_section_id = 80884a2915f2422f822e4571fc9c4691
vsspell_dictionary_languages_80884a2915f2422f822e4571fc9c4691 = fr-FR,en-US
vsspell_include_in_project_spell_check = false

[*it-IT.xml]
# VSSPELL: Spell checker settings for Italian resource files
vsspell_section_id = e4e701d542234faf82224f784fee7d01
vsspell_dictionary_languages_e4e701d542234faf82224f784fee7d01 = it-IT,en-US
vsspell_include_in_project_spell_check = false

[*ja-JP.xml]
# VSSPELL: Ignore spell checking in Japanese resource files
vsspell_spell_check_as_you_type = false
vsspell_include_in_project_spell_check = false

[*ko-KR.xml]
# VSSPELL: Ignore spell checking in Korean resource files
vsspell_spell_check_as_you_type = false
vsspell_include_in_project_spell_check = false

[*pt-BR.xml]
# VSSPELL: Spell checker settings for Portuguese resource files
vsspell_section_id = 4639b537fef6440d84b193b898f2c231
vsspell_dictionary_languages_4639b537fef6440d84b193b898f2c231 = pt-BR,en-US
vsspell_include_in_project_spell_check = false

[*ru-RU.xml]
# VSSPELL: Spell checker settings for Russian resource files
vsspell_section_id = cd212683dfbd4ba6b4b5ef951da3f795
vsspell_dictionary_languages_cd212683dfbd4ba6b4b5ef951da3f795 = ru-RU,en-US
vsspell_include_in_project_spell_check = false

[ru-RU/**]
# VSSPELL: Spell checker settings for German resource files
vsspell_section_id = 6a5d672665244bd0aedf29be0c54a902
vsspell_dictionary_languages_6a5d672665244bd0aedf29be0c54a902 = ru-RU,en-US
vsspell_include_in_project_spell_check = false

[*zh-CHS.xml]
# VSSPELL: Ignore spell checking in Chinese resource files
vsspell_spell_check_as_you_type = false
vsspell_include_in_project_spell_check = false

[*zh-CN.xml]
# VSSPELL: Ignore spell checking in Chinese resource files
vsspell_spell_check_as_you_type = false
vsspell_include_in_project_spell_check = false

[StopWordList/**]
# VSSPELL: Ignore spell checking in stop word lists
vsspell_spell_check_as_you_type = false
vsspell_include_in_project_spell_check = false

[highlight.xml]
# VSSPELL: Ignore spell checking in highlighter XML configuration file
vsspell_spell_check_as_you_type = false
vsspell_include_in_project_spell_check = false

[branding-Website.js]
# VSSPELL: Ignore spell checking in branding website script
vsspell_spell_check_as_you_type = false
vsspell_include_in_project_spell_check = false

[bulma.css]
# VSSPELL: Ignore spell checking in Bulma CSS
vsspell_spell_check_as_you_type = false
vsspell_include_in_project_spell_check = false

[font-awesome.css]
# VSSPELL: Ignore spell checking in Font Awesome CSS
vsspell_spell_check_as_you_type = false
vsspell_include_in_project_spell_check = false

[MPFProj_Shared/**]
# VSSPELL: Ignore spell checking in the MPF project
vsspell_include_in_project_spell_check = false

[*.{aml,asax,ascx,asmx,asp,aspx,axml,config,content,cshtml,csproj,database,datasource,dbml,disco,discomap,dtsx,edmx,exclude,fxcop,htm,html,items,layout,maml,manifest,master,msha,myapp,nunit,nuspec,proj,projitems,props,publishproj,pubxml,rdl,rdlc,resx,ruleset,settings,shfbproj,shproj,sitemap,snippets,soap,svc,svcinfo,svcmap,targets,tasks,tokens,vbhtml,vbproj,vcxproj,vcxproj.filters,vsct,vsixmanifest,vstemplate,webinfo,wsdl,xaml,xamlcfg,xml,xsd,xsl,xslt,xsx}]
# XML files of various types
indent_style = tab
indent_size = 2
tab_width = 2

[*.{cs,vb}]
# C#/VB settings
indent_size = 4
tab_width = 4

dotnet_sort_system_directives_first = true

# Naming rules
dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications
dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles
dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

# Code style settings
dotnet_style_predefined_type_for_locals_parameters_members = true:none
dotnet_style_predefined_type_for_member_access = false:error
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:error
dotnet_style_null_propagation = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line

# "This." and "Me." qualification.  Use is preferred where true but the lightbulbs tend to show up in places
# they aren't wanted (within static methods and nameof parameters etc.) so no suggestions are enabled.
dotnet_style_qualification_for_event = true:none
dotnet_style_qualification_for_field = false:none
dotnet_style_qualification_for_method = true:none
dotnet_style_qualification_for_property = true:none

# Code analyzer settings
# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# These are disabled as we're still targeting .NET Framework as well and I don't want a lot of conditional code
# to suppress these.
# IDE0056: Use index operator
dotnet_diagnostic.IDE0056.severity = none

# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = none

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# IDE0066: Convert switch statement to expression
dotnet_diagnostic.IDE0066.severity = none

# IDE0074: Use compound assignment
dotnet_diagnostic.IDE0074.severity = none

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none

# CA1845: Use span-based 'string.Concat'
dotnet_diagnostic.CA1845.severity = none

# CA1846: Prefer 'AsSpan' over 'Substring'
dotnet_diagnostic.CA1846.severity = none

[*.cs]
# CSharp code style settings
csharp_style_var_elsewhere = false:none
csharp_style_var_for_built_in_types = false:none
csharp_style_var_when_type_is_apparent = false:none
csharp_style_prefer_primary_constructors = false:none

csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_indexers = true:suggestion
csharp_style_expression_bodied_methods = false:none
csharp_style_expression_bodied_operators = false:none
csharp_style_expression_bodied_properties = true:suggestion

csharp_style_conditional_delegate_call = true:suggestion
csharp_style_deconstructed_variable_declaration = false:none
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent

csharp_prefer_braces = when_multiline:none
csharp_prefer_simple_default_expression = true:suggestion
csharp_prefer_simple_using_statement = true:suggestion
csharp_preserve_single_line_blocks = true
csharp_using_directive_placement = outside_namespace:silent

# Indentation options
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_labels = no_change

# New line options
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true

# Spacing options
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
