# Ignore everything in this directory
*
# Except these folders and files
!.gitignore
!Deploy/Schemas/
!Deploy/Snippets/
!Deploy/Data/*.bat
!Deploy/Data/*.config
!Deploy/Data/*.proj
!Deploy/Data/*.xsl
