# Ignore these files and folders in this directory
/*.config
/*.dll
/*.exe*
/*.pdb
/*.targets
/*.xml
/Data/**/*.xml
ConceptualTemplates/*
Extras/*
Help/*
ItemTemplates/*
PresentationStyles/*
ProductionTransforms/*
Spelling/*
SyntaxContent*/
Templates/*
