<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Sandcastle.wxi ?>

	<!-- Example folder files -->
	<Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir305958DC35FF70920385AC1F65F94F20" Name="Examples">
        <Component Id="cmpFA34FAA21E2A77123B5E563845BD7E19" Guid="{35FEEE0F-17CB-4DF5-A86F-21335A881F2B}">
          <File Id="filD441ACC2C040670D93BCDEE9C7D1B0C4" KeyPath="yes" Source="$(var.RootFolder)\Examples\setPath.bat" />
        </Component>
        <Directory Id="dirAEA3DD4EF749A69F03231997AA325B0F" Name="ConceptualExample">
          <Component Id="cmp143CB97DFBFAF097510BEEB0FD63C140" Guid="{E12A786D-4FF8-431E-AB67-D31C45DC965C}">
            <File Id="fil78292286A70D64FE88ED0162DF2598C1" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\aspnet_howto.buildmanifest.proj.xml" />
          </Component>
          <Component Id="cmp0789C54C132F6EC557EC8457E62A0F31" Guid="{563567F3-0B90-4D94-85D8-485404F1C5DE}">
            <File Id="fil8AA60400B371456800ABB906A02DF402" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\build_conceptual_2005.bat" />
          </Component>
          <Component Id="cmp554433B215A141CF3C4B86D7B2861FEC" Guid="{15C54492-1626-40C7-9F6A-8866F0F9E929}">
            <File Id="fil9413CD7DF73FD18E6179D0F4D1BA7CE5" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\build_conceptual_2005_mshc.bat" />
          </Component>
          <Component Id="cmpD2D372B81879468F2597E808CB890461" Guid="{D70BC8F6-E75B-4CF6-81DE-AD99FDD51264}">
            <File Id="fil8EF171A0995BAB2848142483C57C41B3" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\build_conceptual_2010.bat" />
          </Component>
          <Component Id="cmpDAA14AA0FB3F5BCEEAB8D57010854B9D" Guid="{245B9604-B097-42A5-9A01-4BF8D8AE45A1}">
            <File Id="fil27DFCD2A95E6F5F1530D14323D357A5C" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\build_conceptual_2010_mshc.bat" />
          </Component>
          <Component Id="cmpB78984FAAA873E57895544A2AFA2997D" Guid="{19862B3B-E758-4605-BD7F-540D1A77E00E}">
            <File Id="fil9EF7ADE83B6558595AF95B1010CA9159" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\conceptual-2005-mshc.config" />
          </Component>
          <Component Id="cmp6CAD96DFDF0508E0E25D2ACFC66163A9" Guid="{CDE8E6AB-3119-42D8-9E60-0C7F539F03BC}">
            <File Id="fil9CEB883BB74684A01263B8E751867FD5" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\conceptual-2005.config" />
          </Component>
          <Component Id="cmpC57BFCF5D4927A8339ED2B5711B9B762" Guid="{397F4F38-2CEC-4416-A2F8-398E437445FF}">
            <File Id="filDF72343A434AD0AF0423471EAEC3E17A" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\conceptual-2010-mshc.config" />
          </Component>
          <Component Id="cmp2170E62C90BBB8743F9F38BEA3BD824C" Guid="{DF9E44DA-8377-43B1-BBBD-55DD8305E032}">
            <File Id="filDBDB277576363EDAB28344F3230B2AE9" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\conceptual-2010.config" />
          </Component>
          <Component Id="cmp7D9D2F74F31EBBA6F8F41732C5B56F59" Guid="{1F99BD99-637C-416C-95CE-E948FD2A56AC}">
            <File Id="filC289054A79311027425880D37DFCB06A" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\HelpContentSetup.msha" />
          </Component>
          <Directory Id="dir5CADCF9C56C0BC8606EA761D38983445" Name="dduexml">
            <Component Id="cmp1ABDCA4FCC007B73A3BD0AEA7D5CAC69" Guid="{4C90C718-6057-4206-945D-F566506593FF}">
              <File Id="filEBA55AFC1F9C84A47C77F7795A74BAA3" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\dduexml\2aca5da4-6f94-43a0-9817-5f413d16f540.xml" />
            </Component>
            <Component Id="cmpA0D046F523315C219A6DB3036E0EFA00" Guid="{8AD93E83-82A3-43C6-AC1B-5C36FC193BB6}">
              <File Id="fil52BD4B3A6F5FD73D39A48B872E55D06A" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\dduexml\7a0d4156-3e9e-447e-a00f-cbb68b5fe264.xml" />
            </Component>
            <Component Id="cmpB073307DB513E1EBF73E31D41EABA0B8" Guid="{689E9BAC-3749-4EB8-9FF8-B62501A5955C}">
              <File Id="filD88C374863C189F28C1A2C6808DC62AC" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\dduexml\abcbfd68-5773-47ed-afd9-70713917795f.xml" />
            </Component>
            <Component Id="cmp837DECB90A5FF99A84B2611BBA53F8E4" Guid="{48DF6E30-7585-4139-84DB-6690A46883FD}">
              <File Id="filB37776CE88D03276D84D489980EE52E5" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\dduexml\d021aa39-4cbf-4450-a3c1-d5573ca7ce8c.xml" />
            </Component>
            <Component Id="cmp4904D408C645E8B15FF9AFECAF32B10E" Guid="{7B9E6B8F-147C-4283-B2AC-8443D1F50581}">
              <File Id="fil0DC7E052059B8A383B74E7E265088C2B" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\dduexml\f7913259-762e-4a73-a771-ac9e42903f44.xml" />
            </Component>
          </Directory>
          <Directory Id="dirA41175D2855FCDFBAE5FC73CED039AF5" Name="extractedfiles">
            <Component Id="cmp877EF38288511312C428C87C1850E3CE" Guid="{6C7B7D93-92B4-4389-A0CB-04C6CC55B4D3}">
              <File Id="fil39116B6D314E5A1328D59E39CDC48F08" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\extractedfiles\aspnet_howto.contentmetadata.xml" />
            </Component>
            <Component Id="cmp44FA206E87EE80196150C05E5D6EB977" Guid="{8473B3A9-A225-4FF3-8448-011B086A9F59}">
              <File Id="fil81396D559249283DF963FB8288FCC8AC" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\extractedfiles\aspnet_howto.projectsettings.loc.xml" />
            </Component>
            <Component Id="cmpBB58567063B0249235D84CAA76E78B52" Guid="{32EC0987-8656-43ED-A9A2-1C5060908251}">
              <File Id="fil1B9AFDD8BC66DBED67A724FE7AE00C0A" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\extractedfiles\aspnet_howto.projectsettings.xml" />
            </Component>
            <Component Id="cmpFBA3CC42D063DFBE01547E75C9B4F176" Guid="{BB7FCA6F-A5F9-48E1-9C32-1FBFD41B6087}">
              <File Id="fil057788DEA7579392F4D429F9D16853BF" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\extractedfiles\aspnet_howto.toc.xml" />
            </Component>
            <Component Id="cmpB1CB68239F0B027908F32F0720F6E523" Guid="{DDD17AE4-C635-477C-B68D-20E22466DA5D}">
              <File Id="filC178BCAE1CE1A2B1EDDC70A301A5E157" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\extractedfiles\aspnet_howto.toctechreview.xml" />
            </Component>
          </Directory>
          <Directory Id="dir424117114E5D690348614377D3B6EF73" Name="xmlcomp">
            <Component Id="cmp7DD54AE1B1F6E11FA71A96C1889F4E75" Guid="{4D100E9D-9941-41B0-AAA0-D1E55DCC29A0}">
              <File Id="filA30F14088128A68A34394F1EC9DF0ABF" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\xmlcomp\2aca5da4-6f94-43a0-9817-5f413d16f540.cmp.xml" />
            </Component>
            <Component Id="cmpB55F7278234019FAB01E83F2F77C4C31" Guid="{A63AA7BA-EF63-43C7-8168-B554147848F2}">
              <File Id="filA7FDF2803B672C6F4071AC3542FD92D9" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\xmlcomp\7a0d4156-3e9e-447e-a00f-cbb68b5fe264.cmp.xml" />
            </Component>
            <Component Id="cmp667977EAAC6D032A2A50E234ABDD8C52" Guid="{A379DBE5-4A34-49FF-8FC7-4281BA812013}">
              <File Id="fil5470BD1AB64CAC298B80CBB29906B864" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\xmlcomp\abcbfd68-5773-47ed-afd9-70713917795f.cmp.xml" />
            </Component>
            <Component Id="cmpF2C041E2BD80E98D58C80E503E1C2588" Guid="{E45A8B38-EFB2-4349-B45C-13FB2FCC9DD3}">
              <File Id="fil3EF6A6489316A8A417E30E77CE80BCF4" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\xmlcomp\d021aa39-4cbf-4450-a3c1-d5573ca7ce8c.cmp.xml" />
            </Component>
            <Component Id="cmpEFC4DEC53DB6EA24E8651EFEDBA4C11C" Guid="{B023058F-F192-4CF1-ACBD-66FAB2666B65}">
              <File Id="fil61BDFF2B4C2A6B54C68D6D433E59EAB8" KeyPath="yes" Source="$(var.RootFolder)\Examples\ConceptualExample\xmlcomp\f7913259-762e-4a73-a771-ac9e42903f44.cmp.xml" />
            </Component>
          </Directory>
        </Directory>
        <Directory Id="dir722FBD8E8F812EF5559C212A22EDAC07" Name="Generic">
          <Component Id="cmpEAEA171AE909C3C42FF2E99987EEF5DF" Guid="{C5BC78A8-A74A-47B9-9F24-5AB886E7CDB7}">
            <File Id="fil93C8C744E880AD6950F0EBC27F1B8869" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\Generic.targets" />
          </Component>
          <Component Id="cmp69745A25BF1DA8624BB25427BD5819E7" Guid="{A1937FC9-0797-4647-8A5F-F9837DDB6DE6}">
            <File Id="fil2D025DF118A37B261EA4ABA5B3961EF0" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\hana.config" />
          </Component>
          <Component Id="cmp7BF6A1B1CD2FADE48BCC38AE36B3D9ED" Guid="{CBA4C92C-34E4-4FA9-9C93-9586F9A96D0F}">
            <File Id="fil29752D80B5C34C05672B6EC2B8B4B7F8" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\HelpContentSetup.msha" />
          </Component>
          <Component Id="cmp64FFE722D5B9B449D1481163056719D0" Guid="{ED18C45A-4A1D-44B3-95C2-4DA143C116F0}">
            <File Id="fil4FDBC6AC28E95A8FA1B3C4F8A58E4588" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\prototype.config" />
          </Component>
          <Component Id="SandcastleGuiExe" Guid="{27EF0303-4ACB-49B2-B21C-9E5EB46F97CA}">
						<File Id="SandcastleGuiExe" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\SandcastleGui.exe" />
          </Component>
          <Component Id="cmpEB427F903F9F5E039C8BE15805D2A2E2" Guid="{81DCFB5C-36E6-44DD-A98B-0444ADA8AD8F}">
            <File Id="fil86BC083B8AC2C55E9C089A5FB84AC7AA" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\Test.scproj" />
          </Component>
          <Component Id="cmp13E767FCB4B287662AFCB654D39A3153" Guid="{3A917966-62A9-4EA3-8384-1E19E619A293}">
            <File Id="fil2EFBDE612A15F6CCE2FD5A8027A8E840" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\vs2005-mshc.config" />
          </Component>
          <Component Id="cmpB9E517BF4A8337076374F5EA72965DC3" Guid="{AF7483AC-D037-415A-8A16-24071EEE9A59}">
            <File Id="fil40343555E542A72CEB9BE7E8110561E9" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\vs2005-web.config" />
          </Component>
          <Component Id="cmp630C651EF9198CBA7C80888137303BA9" Guid="{8047EE66-2246-44C7-A586-8A0920C11FBD}">
            <File Id="filA937D4BEC9A6C86101FFD60374FB4E81" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\vs2005.config" />
          </Component>
          <Component Id="cmp229D1DBE045BE74AE14E9323467605D6" Guid="{0C803E09-9987-4DBA-A995-08C403568834}">
            <File Id="fil25F3C73574C81DA4784B3ECF223087DB" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\vs2010-mshc.config" />
          </Component>
          <Component Id="cmp545EAADD66C0CBE3BB4723053B7017B2" Guid="{514FEC9F-C240-48E1-B9FA-97ACF60EC0C2}">
            <File Id="fil43DBAC2D56A8DB14123289E72E24439A" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\vs2010-web.config" />
          </Component>
          <Component Id="cmpAF8FFE16F782C0D8CCFFCA474A9B7BEA" Guid="{7C1EAC8C-E285-4789-A19A-46CC1F2C8A1C}">
            <File Id="fil3059AB1767FE752C988EDFD97FA8A9C5" KeyPath="yes" Source="$(var.RootFolder)\Examples\Generic\vs2010.config" />
          </Component>
        </Directory>
        <Directory Id="dir1D6C8C739FD4075E234B94012AFE2605" Name="Sandcastle">
          <Component Id="cmp8BE8D5C1BE79F6E4405DBD59F7439057" Guid="{2579C33D-C792-4027-A92D-2BF2E3B9F8D5}">
            <File Id="filEC2193CFD074D3B1B317C838167844C2" KeyPath="yes" Source="$(var.RootFolder)\Examples\Sandcastle\build.proj" />
          </Component>
          <Component Id="cmp6F9F8CEEE087B6DA36A8B271246CE53A" Guid="{E57DB77C-22BB-4012-85AF-39C295D2652D}">
            <File Id="fil9E8EA0FC441ECDD99C6B48B0C3038727" KeyPath="yes" Source="$(var.RootFolder)\Examples\Sandcastle\build_Sandcastle.bat" />
          </Component>
          <Component Id="cmp0B3D3A2C6DCC6BF7A56FCAA7172B27F6" Guid="{B18D9D24-EEE1-463A-AAFD-CACF6B1F49FC}">
            <File Id="fil7AF7AFADA75E0E6783AFDC56132CB792" KeyPath="yes" Source="$(var.RootFolder)\Examples\Sandcastle\comments.xml" />
          </Component>
          <Component Id="cmp256F73779BF95D37575051C6AFEF3252" Guid="{3E9BC143-4C30-4BAB-A1FC-51D14E51EBCF}">
            <File Id="filBCDA8C0DEE122DAF3977C61559CF0A6C" KeyPath="yes" Source="$(var.RootFolder)\Examples\Sandcastle\HelpContentSetup.msha" />
          </Component>
          <Component Id="cmpB0FCBB663EED7E087AC092C72A364C53" Guid="{502BDA07-6FD5-498E-A775-F4DCD20421D1}">
            <File Id="fil20373DA6BA8CEF8FD71471B920063C94" KeyPath="yes" Source="$(var.RootFolder)\Examples\Sandcastle\test.cs" />
          </Component>
          <Component Id="cmp766C25FDA72130215ACD4624BBFBD9B2" Guid="{8D723E2E-8CAD-48CB-87CA-E86A8FF05D29}">
            <File Id="fil356AE2ABB62FE47C0124C03AF2B82186" KeyPath="yes" Source="$(var.RootFolder)\Examples\Sandcastle\test.dll" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Examples">
      <ComponentRef Id="cmpFA34FAA21E2A77123B5E563845BD7E19" />
      <ComponentRef Id="cmp143CB97DFBFAF097510BEEB0FD63C140" />
      <ComponentRef Id="cmp0789C54C132F6EC557EC8457E62A0F31" />
      <ComponentRef Id="cmp554433B215A141CF3C4B86D7B2861FEC" />
      <ComponentRef Id="cmpD2D372B81879468F2597E808CB890461" />
      <ComponentRef Id="cmpDAA14AA0FB3F5BCEEAB8D57010854B9D" />
      <ComponentRef Id="cmpB78984FAAA873E57895544A2AFA2997D" />
      <ComponentRef Id="cmp6CAD96DFDF0508E0E25D2ACFC66163A9" />
      <ComponentRef Id="cmpC57BFCF5D4927A8339ED2B5711B9B762" />
      <ComponentRef Id="cmp2170E62C90BBB8743F9F38BEA3BD824C" />
      <ComponentRef Id="cmp7D9D2F74F31EBBA6F8F41732C5B56F59" />
      <ComponentRef Id="cmp1ABDCA4FCC007B73A3BD0AEA7D5CAC69" />
      <ComponentRef Id="cmpA0D046F523315C219A6DB3036E0EFA00" />
      <ComponentRef Id="cmpB073307DB513E1EBF73E31D41EABA0B8" />
      <ComponentRef Id="cmp837DECB90A5FF99A84B2611BBA53F8E4" />
      <ComponentRef Id="cmp4904D408C645E8B15FF9AFECAF32B10E" />
      <ComponentRef Id="cmp877EF38288511312C428C87C1850E3CE" />
      <ComponentRef Id="cmp44FA206E87EE80196150C05E5D6EB977" />
      <ComponentRef Id="cmpBB58567063B0249235D84CAA76E78B52" />
      <ComponentRef Id="cmpFBA3CC42D063DFBE01547E75C9B4F176" />
      <ComponentRef Id="cmpB1CB68239F0B027908F32F0720F6E523" />
      <ComponentRef Id="cmp7DD54AE1B1F6E11FA71A96C1889F4E75" />
      <ComponentRef Id="cmpB55F7278234019FAB01E83F2F77C4C31" />
      <ComponentRef Id="cmp667977EAAC6D032A2A50E234ABDD8C52" />
      <ComponentRef Id="cmpF2C041E2BD80E98D58C80E503E1C2588" />
      <ComponentRef Id="cmpEFC4DEC53DB6EA24E8651EFEDBA4C11C" />
      <ComponentRef Id="cmpEAEA171AE909C3C42FF2E99987EEF5DF" />
      <ComponentRef Id="cmp69745A25BF1DA8624BB25427BD5819E7" />
      <ComponentRef Id="cmp7BF6A1B1CD2FADE48BCC38AE36B3D9ED" />
      <ComponentRef Id="cmp64FFE722D5B9B449D1481163056719D0" />
      <ComponentRef Id="SandcastleGuiExe" />
      <ComponentRef Id="cmpEB427F903F9F5E039C8BE15805D2A2E2" />
      <ComponentRef Id="cmp13E767FCB4B287662AFCB654D39A3153" />
      <ComponentRef Id="cmpB9E517BF4A8337076374F5EA72965DC3" />
      <ComponentRef Id="cmp630C651EF9198CBA7C80888137303BA9" />
      <ComponentRef Id="cmp229D1DBE045BE74AE14E9323467605D6" />
      <ComponentRef Id="cmp545EAADD66C0CBE3BB4723053B7017B2" />
      <ComponentRef Id="cmpAF8FFE16F782C0D8CCFFCA474A9B7BEA" />
      <ComponentRef Id="cmp8BE8D5C1BE79F6E4405DBD59F7439057" />
      <ComponentRef Id="cmp6F9F8CEEE087B6DA36A8B271246CE53A" />
      <ComponentRef Id="cmp0B3D3A2C6DCC6BF7A56FCAA7172B27F6" />
      <ComponentRef Id="cmp256F73779BF95D37575051C6AFEF3252" />
      <ComponentRef Id="cmpB0FCBB663EED7E087AC092C72A364C53" />
      <ComponentRef Id="cmp766C25FDA72130215ACD4624BBFBD9B2" />
    </ComponentGroup>
  </Fragment>
</Wix>
