<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Sandcastle.wxi ?>

	<!-- Extras folder content -->
	<Fragment>
		<DirectoryRef Id="INSTALLDIR">
			<Directory Id="ExtrasFolder" Name="Extras">

				<!-- Sandcastle Tools help file -->
				<Component Id="SandcastleToolsHelp" Guid="{A63A7AB6-5E64-4D29-AC83-7D99756588DD}">
					<File Id="SandcastleToolsHelp" KeyPath="yes" Source="$(var.DocsFolder)\SandcastleTools\Help\SandcastleTools.chm">
						<Shortcut Id="SandcastleToolsHelp" Directory="SandcastleProgramMenuDir" Icon="Help.ico"
							Name="Sandcastle Tools Help" Description="A help file for the Sandcastle tools and components"
							Advertise="yes" />
					</File>
				</Component>

				<!-- Sandcastle MAML Guide -->
				<Component Id="SandcastleMAMLGuide" Guid="{00AE9F5B-32EB-49F3-B245-9A236E9A0BCF}">
					<File Id="SandcastleMAMLGuide" KeyPath="yes" Source="$(var.DocsFolder)\SandcastleMAMLGuide\Help\SandcastleMAMLGuide.chm">
						<Shortcut Id="SandcastleMAMLGuide" Directory="SandcastleProgramMenuDir" Icon="Help.ico"
							Name="Sandcastle MAML Guide" Description="Microsoft Assistance Markup Language (MAML) usage guide"
							Advertise="yes" />
					</File>
				</Component>

				<!-- Sandcastle XML Comments Guide -->
				<Component Id="SandcastleXMLCommentsGuide" Guid="{8BB0F2D2-D632-4A6D-9ACA-6CA526A99992}">
					<File Id="SandcastleXMLCommentsGuide" KeyPath="yes" Source="$(var.DocsFolder)\XMLCommentsGuide\Help\XMLCommentsGuide.chm">
						<Shortcut Id="SandcastleXMLCommentsGuide" Directory="SandcastleProgramMenuDir" Icon="Help.ico"
							Name="Sandcastle XML Comments Guide" Description="XML comments usage guide"
							Advertise="yes" />
					</File>
				</Component>

				<!-- Web Code Providers -->
				<Component Id="EWSoftwareCodeDomChm" Guid="{6DAC98B9-9210-4E8F-A467-B29D83EDAD91}">
					<File Id="EWSoftwareCodeDomChm" KeyPath="yes" Source="$(var.ExtrasFolder)\WebCodeProviders\Doc\Help\EWSoftware.CodeDom.chm">
						<Shortcut Id="EWSoftwareCodeDomChm" Directory="SandcastleProgramMenuDir" Icon="Help.ico"
							Name="Custom Web Code Providers Help" Description="Help on using the custom web code providers to document websites"
							Advertise="yes" />
					</File>
				</Component>

				<Component Id="EWSoftwareCodeDomDll" Guid="{155335EB-93A8-4E1D-AC18-7395AE8602DF}">
					<File Id="EWSoftwareCodeDomDll" KeyPath="yes" Source="$(var.ExtrasFolder)\WebCodeProviders\bin\Release\EWSoftware.CodeDom.dll" />
				</Component>

				<Component Id="EWSoftwareCodeDomXml" Guid="{DFA99A07-7E83-4443-8E32-19BE7AEB94C2}">
					<File Id="EWSoftwareCodeDomXml" KeyPath="yes" Source="$(var.ExtrasFolder)\WebCodeProviders\bin\Release\EWSoftware.CodeDom.xml" />
				</Component>

				<!-- HTML to MAML Converter -->
				<Component Id="HtmlToMamlChm" Guid="{034BAEE5-E612-4ADF-AD74-722EC51544CE}">
					<File Id="HtmlToMamlChm" KeyPath="yes" Source="$(var.ExtrasFolder)\HtmlToMaml\Doc\Help\HtmlToMaml.chm">
						<Shortcut Id="HtmlToMamlChm" Directory="SandcastleProgramMenuDir" Icon="Help.ico"
							Name="HTML to MAML Converter Help" Description="Help on using the HTML to MAML converter utility"
							Advertise="yes" />
					</File>
				</Component>

				<Component Id="ConversionRulesXml" Guid="{CDFB8DEF-4336-45F8-95C5-D453BE3BF972}">
					<File Id="ConversionRulesXml" KeyPath="yes" Source="$(var.ExtrasFolder)\HtmlToMaml\bin\Release\ConversionRules.xml" />
				</Component>

				<Component Id="ConvertHtmlToMamlExe" Guid="{9AC1666A-7078-476C-84EF-EE449819E7B0}">
					<File Id="ConvertHtmlToMamlExe" KeyPath="yes" Source="$(var.ExtrasFolder)\HtmlToMaml\bin\Release\ConvertHtmlToMaml.exe" />
				</Component>

			</Directory>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="SandcastleToolsHelp">
			<ComponentRef Id="SandcastleToolsHelp" />
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="MAMLGuide">
			<ComponentRef Id="SandcastleMAMLGuide" />
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="XMLCommentsGuide">
			<ComponentRef Id="SandcastleXMLCommentsGuide" />
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="WebCodeProviders">
			<ComponentRef Id="EWSoftwareCodeDomChm" />
			<ComponentRef Id="EWSoftwareCodeDomDll" />
			<ComponentRef Id="EWSoftwareCodeDomXml" />
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="HtmlToMaml">
			<ComponentRef Id="HtmlToMamlChm" />
			<ComponentRef Id="ConversionRulesXml" />
			<ComponentRef Id="ConvertHtmlToMamlExe" />
		</ComponentGroup>
	</Fragment>

</Wix>
