<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Sandcastle.wxi ?>

	<!-- Language pack files -->
	<Fragment>
      <DirectoryRef Id="INSTALLDIR">
        <Directory Id="dir52EDF016DB2DDD13A21A098F81306021" Name="Presentation">
          <Directory Id="dirB0776D904E5B9A6EF1AEA9E05B28C18C" Name="Shared">
            <Directory Id="dirA2F038139BA6686FD3A150175409D0AC" Name="content">
              <Directory Id="dirA31FE8129E1AE500B7D8F417451FDE18" Name="de-DE">
                <Component Id="cmpD8C4AE697BE8D68632258040834A3D5A" Guid="{5958E158-680A-4EAE-BFFA-F6D29C434BB4}">
                  <File Id="filDAF7793DE92E404B4F9F4A3984173883" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\Shared\content\de-DE\syntax_content.xml" />
                </Component>
              </Directory>
              <Directory Id="dir5C9072CC1D2AC3A78045852E1887EF3E" Name="ru-RU">
                <Component Id="cmp73441BFC8F524852A977CD5C43A5B202" Guid="{48629A18-D056-4FB5-9E38-E639B5A1EA3D}">
                  <File Id="filE5C87D4763AE7DAB41BE00E41DF2FFEC" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\Shared\content\ru-RU\syntax_content.xml" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="dirE33BF8BC5B2CE79579F86A3BB28AEAE1" Name="vs2005">
            <Directory Id="dir7E4DF23F05C469D4B2BA55E19C26EE19" Name="Content">
              <Directory Id="dir011008A5DBB2EB4809BF5DD17AD5063D" Name="de-DE">
                <Component Id="cmpAF4073500A6144158738D27F0BF32184" Guid="{D53D115C-4F94-42DE-9177-3B040C493B27}">
                  <File Id="fil4E696525BBCECEDE21674213D86CE1FA" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\de-DE\conceptual_content.xml" />
                </Component>
                <Component Id="cmpE9334527FB9335590F5B7FD617314982" Guid="{3E03E624-0626-4C5B-BD38-808B0397224D}">
                  <File Id="fil449A08CED3816E558F56CA97D7CFF0EE" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\de-DE\feedBack_content.xml" />
                </Component>
                <Component Id="cmp35258B47F8F34855D30AD5C652F498D1" Guid="{FDAE780D-24DB-4203-A5F3-B70924346083}">
                  <File Id="fil788BA874F863A85C6BE2AD7145C70451" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\de-DE\reference_content.xml" />
                </Component>
                <Component Id="cmp61B597E0F53794C4AA03A3541299CBBE" Guid="{7738CBF6-A6B7-4CB3-B398-8587FED7C740}">
                  <File Id="fil0D744976426A958A9C78DFE151DBA2C2" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\de-DE\shared_content.xml" />
                </Component>
                <Component Id="cmp455A4AE6B1A8177D027D5FC13857F679" Guid="{A69C4D09-B920-4FCE-B258-763369E6B284}">
                  <File Id="filCBCBB3DE80E84FC1234D4E9121F28A6B" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\de-DE\shared_content_mshc.xml" />
                </Component>
                <Component Id="cmpB4451C8A337984C7706A299906012DEF" Guid="{5DA84BC7-C993-40C1-BE03-318B62961043}">
                  <File Id="fil98CCC775B08AF35E2257B1753E5C2955" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\de-DE\token_content.xml" />
                </Component>
                <Component Id="cmp6BAEBDC5CECB5B5C4FBC745CA6FB404A" Guid="{5EA75499-127D-49C3-A1A6-A73D6B1ACFF5}">
                  <File Id="filE711026698C0A52DC9FAF930E014743B" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\de-DE\web_content.xml" />
                </Component>
              </Directory>
              <Directory Id="dir435A6A3C9B549917E6E185AB4C22099D" Name="ru-RU">
                <Component Id="cmp04F3D2B5175D49BB0D5888FA21F6D918" Guid="{DCB72A4A-F95C-483D-AA02-FAD08F409726}">
                  <File Id="fil8DFBAC6C927D12EDF3251E61190E5550" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\ru-RU\conceptual_content.xml" />
                </Component>
                <Component Id="cmpCCBB817360441F5BF7F22E1CAD654A89" Guid="{7177E5E1-26ED-4F18-994F-01594C756876}">
                  <File Id="fil819EE3F0A9E1910BAE3DB16D5FA1D895" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\ru-RU\feedBack_content.xml" />
                </Component>
                <Component Id="cmp42137678776D99AB847C82C924B820A9" Guid="{36605698-8D95-4EB6-85B6-74D38DB4DC26}">
                  <File Id="filC20809D688143707F4F0890DA8BE82C5" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\ru-RU\reference_content.xml" />
                </Component>
                <Component Id="cmp171A12F3DEE5768576F397CDDE35F599" Guid="{DED7CCAC-813A-4678-8DB6-D77AD0F272D6}">
                  <File Id="fil7C728BFBD43B1249CEC474435D4CC77B" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\ru-RU\shared_content.xml" />
                </Component>
                <Component Id="cmp5CAFC3B28176C9E0EBCF35F29849611A" Guid="{853453BD-AE6D-4997-877B-1D997E26C203}">
                  <File Id="filD29BE8B70B66FDF50E03257CB72814E2" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\ru-RU\shared_content_mshc.xml" />
                </Component>
                <Component Id="cmp761EC5CC8B9FEF1903D84E7A8CDF15A5" Guid="{6BFB6C49-C15F-44B5-9EE5-798E8E0061C2}">
                  <File Id="fil18DB650551D244161750662D8C0A7F65" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\ru-RU\token_content.xml" />
                </Component>
                <Component Id="cmpAA419086360592A1B1B4FAF542E3F44B" Guid="{51CB72C0-6344-4B8E-AAB8-1405F53BA02E}">
                  <File Id="fil20DDA55916547BCD8C6C8DABCEBEB678" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2005\Content\ru-RU\web_content.xml" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="dir525CC665242D138849FCBAD1474215B3" Name="vs2010">
            <Directory Id="dirD8FB4CBA72127DC3167AA25C2E61D1DC" Name="Content">
              <Directory Id="dir80AC61D802E3BB2162D5D6C63DF38CEC" Name="ru-RU">
                <Component Id="cmp41B583A4063AED2861EEB4849EB79FB7" Guid="{D7940E7D-3617-456C-9751-3615819A94E1}">
                  <File Id="fil0E853BDE66434B11D5B8871B1133500C" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2010\Content\ru-RU\conceptual_content.xml" />
                </Component>
                <Component Id="cmpCAE323E86DD36E8D2AD2B13ACDE27E3B" Guid="{1487DF88-20D0-4099-A934-B2DBCAF5FD51}">
                  <File Id="filBDBAC95289C8B5ABC4037BCBFC79832D" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2010\Content\ru-RU\feedBack_content.xml" />
                </Component>
                <Component Id="cmp391DB5135D547790E134A6CB1C664CA6" Guid="{ED4FA234-FE1B-4A9E-8CAF-A079FBCBE198}">
                  <File Id="fil3258CBD7A79309F01438C4C4AD15FCC4" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2010\Content\ru-RU\reference_content.xml" />
                </Component>
                <Component Id="cmp7C237023C33D3809D5BF471454745ECE" Guid="{8B54D76B-66C0-45AD-B0FD-86C902E5A08E}">
                  <File Id="fil9340BAEE847BAACF5A5B070DF36E07D9" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2010\Content\ru-RU\shared_content.xml" />
                </Component>
                <Component Id="cmp81D9A7A575839125B35B4ED7824E1A05" Guid="{E7BE28EA-E926-41F8-BA23-8DCE5E426B15}">
                  <File Id="fil61BF571B3FB825E88263DDE0A5D8B544" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2010\Content\ru-RU\shared_content_mshc.xml" />
                </Component>
                <Component Id="cmpAE670BD09A31CACBF2024678D9FE0CE4" Guid="{337D158D-1CD2-4519-B36D-768262FDF0CE}">
                  <File Id="fil878AEECFEBC879E808224509482EDC05" KeyPath="yes" Source="$(var.ExtrasFolder)\LanguagePack\Presentation\vs2010\Content\ru-RU\web_content.xml" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </DirectoryRef>
    </Fragment>

	<Fragment>
    <ComponentGroup Id="LanguagePack">
      <ComponentRef Id="cmpD8C4AE697BE8D68632258040834A3D5A" />
      <ComponentRef Id="cmp73441BFC8F524852A977CD5C43A5B202" />
      <ComponentRef Id="cmpAF4073500A6144158738D27F0BF32184" />
      <ComponentRef Id="cmpE9334527FB9335590F5B7FD617314982" />
      <ComponentRef Id="cmp35258B47F8F34855D30AD5C652F498D1" />
      <ComponentRef Id="cmp61B597E0F53794C4AA03A3541299CBBE" />
      <ComponentRef Id="cmp455A4AE6B1A8177D027D5FC13857F679" />
      <ComponentRef Id="cmpB4451C8A337984C7706A299906012DEF" />
      <ComponentRef Id="cmp6BAEBDC5CECB5B5C4FBC745CA6FB404A" />
      <ComponentRef Id="cmp04F3D2B5175D49BB0D5888FA21F6D918" />
      <ComponentRef Id="cmpCCBB817360441F5BF7F22E1CAD654A89" />
      <ComponentRef Id="cmp42137678776D99AB847C82C924B820A9" />
      <ComponentRef Id="cmp171A12F3DEE5768576F397CDDE35F599" />
      <ComponentRef Id="cmp5CAFC3B28176C9E0EBCF35F29849611A" />
      <ComponentRef Id="cmp761EC5CC8B9FEF1903D84E7A8CDF15A5" />
      <ComponentRef Id="cmpAA419086360592A1B1B4FAF542E3F44B" />
      <ComponentRef Id="cmp41B583A4063AED2861EEB4849EB79FB7" />
      <ComponentRef Id="cmpCAE323E86DD36E8D2AD2B13ACDE27E3B" />
      <ComponentRef Id="cmp391DB5135D547790E134A6CB1C664CA6" />
      <ComponentRef Id="cmp7C237023C33D3809D5BF471454745ECE" />
      <ComponentRef Id="cmp81D9A7A575839125B35B4ED7824E1A05" />
      <ComponentRef Id="cmpAE670BD09A31CACBF2024678D9FE0CE4" />
    </ComponentGroup>
  </Fragment>
</Wix>
