<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Sandcastle.wxi ?>

	<!-- Production XSL transformation files -->
	<Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dirFE6F88A55D8515C0975BF70A9B134EBF" Name="ProductionTransforms">
        <Component Id="cmpBCCDB4154609BA35007897D3A7A02867" Guid="{4533AD47-4FEC-4BF0-8982-F5AA9CA807F4}">
          <File Id="filF5C40946F18721A42D3E1EBB946D72F4" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\AddFriendlyFilenames.xsl" />
        </Component>
        <Component Id="cmpAD4C9E620A8D76A7E9C1214AC235964C" Guid="{9019FE41-3B51-4C94-A32B-8F186FA6929D}">
          <File Id="fil590764EDB94893ECFF710943137F49EC" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\AddGuidFilenames.xsl" />
        </Component>
        <Component Id="cmpA3E277CE69530A3BEB198DDBF4A1894E" Guid="{5324461F-8465-4CDD-BEE5-2E45A5AD1446}">
          <File Id="fil3F9B6BCD1C3D5342D3EAFB9C33A0C61C" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\AddXamlSyntaxData.xsl" />
        </Component>
        <Component Id="cmpAAFD5AD9E7728F1C9041B1FE4DB2722E" Guid="{8108B8D6-331A-4F29-A994-24481F7DC5E6}">
          <File Id="fil4BE00B69F04936386FF969FF7B1EB8F6" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\ApplyPrototypeDocModel.xsl" />
        </Component>
        <Component Id="cmp8E138DBFD84AA7231D6BB4EA3714DE0F" Guid="{AC479F1E-C3AF-4DD1-8753-BE1A19B3F050}">
          <File Id="fil2C7C4EEE87FF525D0B8FECC498E1A9BC" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\ApplyVSDocModel.xsl" />
        </Component>
        <Component Id="cmp57E43DBD5521FCE7630B5A11F828CC93" Guid="{54F67EF4-0CFA-4C24-ADC0-987FCFD764E5}">
          <File Id="fil2ACBEF051CC69D91CDF80633A2431078" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\CreateHxC.xsl" />
        </Component>
        <Component Id="cmp2885AD338A677C7BCB40F57EC2F7E153" Guid="{C16CF17A-2154-4A78-9BDD-3012D1C2C771}">
          <File Id="filF551C4534D955E6D5236611B7D7109E0" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\CreateHxt.xsl" />
        </Component>
        <Component Id="cmp3D1E48D50177F071C2D3805C4F449700" Guid="{79551210-E701-48EA-AB1B-98547F9D462B}">
          <File Id="fil392A6DF73AE4C0A77CA36C739AF2AAC3" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\CreatePrototypeToc.xsl" />
        </Component>
        <Component Id="cmpB96BAE987D4996A583136956109F5E1D" Guid="{831CCEE0-5ACA-4AB3-89A0-9FF362CE612A}">
          <File Id="filF8DD1733FB272FB5859E5716D80ECC1C" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\CreateVSToc.xsl" />
        </Component>
        <Component Id="cmp2BA12BCB6BBADD71F049751A031C8DB4" Guid="{99E3D4FF-3EC9-4BAE-9D3B-B2A19D963BAB}">
          <File Id="fil31971BE2D6CBB8F62F4B1944E12277DB" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\DsManifestToManifest.xsl" />
        </Component>
        <Component Id="cmpF27A045D0173CC2971C92190309684FF" Guid="{BACBD5C9-6FF3-49CA-BCA3-EA72316E5882}">
          <File Id="fil6903753BF76A568A2022756A16E6A110" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\DsTocToManifest.xsl" />
        </Component>
        <Component Id="cmpAE74A5653AB338453579DEB490F1784B" Guid="{8DC78A0D-0878-452E-A7F5-72A18A6701B8}">
          <File Id="fil2469D4189BBA43FF6C4375D198B1F863" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\DsTocToSitemap.xsl" />
        </Component>
        <Component Id="cmp27DB9D5812CF9A093F41460ACF8E9AB6" Guid="{0FAEC757-01E3-4ADC-8F8F-7DC883A786A1}">
          <File Id="fil2CC7394B1D0856D1CD18BD4AC323C2EF" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\DsTocToToc.xsl" />
        </Component>
        <Component Id="cmp3115A9888EE11A5ABF42D90534ADED3D" Guid="{A8A88EF5-371B-421F-8487-133DFB730E9E}">
          <File Id="fil0FB31FFE5A180774A9802307686E8FA9" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\FixScriptSharp.xsl" />
        </Component>
        <Component Id="cmp3D03B4CD4BA6DBECCB055F513BFD3D86" Guid="{3BDB801A-1393-4E0A-AB16-63C877CCFF9E}">
          <File Id="filE9823ABCE405A9312FE9FCFBC6B4B02A" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\MergeDuplicates.xsl" />
        </Component>
        <Component Id="cmp46B46958C975ECDA5B6FBCEDAFFED8E5" Guid="{6F52E454-2ED2-495B-9592-B5B11AE6DDE7}">
          <File Id="fil00B1A24995B5A7AA279225D9BDA50CA2" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\MergeHxF.xsl" />
        </Component>
        <Component Id="cmp1539A39B81BFC7A14FE9F4E0D999CC62" Guid="{7EC9A656-66F2-415A-ADA8-23D1A3E66B3E}">
          <File Id="fil76B2B4E2F94F78316948905EDBC8E010" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\ReflectionToCDocML.xsl" />
        </Component>
        <Component Id="cmp06DF1AE5CD2314251BC74377983066D7" Guid="{368CFAED-3240-486E-9F4C-A75D88412AEA}">
          <File Id="fil0FEDA96BF05F6B2D017584762B9D06E3" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\ReflectionToChmIndex.xsl" />
        </Component>
        <Component Id="cmp0215DF0D0346C64F093A922BAE0C5C14" Guid="{6C4326C7-90F9-4CBF-B09B-02FAC8466A6B}">
          <File Id="fil58C4F5AE8DB60BA534B0F741A54276E1" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\ReflectionToChmProject.xsl" />
        </Component>
        <Component Id="cmp035B7E22D8F64FAAD26A35BAB4F16E81" Guid="{012E231A-26BE-47E7-9816-86A30341126B}">
          <File Id="filDAF571C16E8394A397F51DC88DC35C3E" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\ReflectionToManifest.xsl" />
        </Component>
        <Component Id="cmp655B118DE0343E39C9B08EE36D0AD592" Guid="{918D223D-E013-4AB3-8BCA-C0D74C7827B3}">
          <File Id="fil88B6962781A84F49FA1311117351B998" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\TocToChmContents.xsl" />
        </Component>
        <Component Id="cmp818A55F07348FF88A09B6CA8499A185F" Guid="{B9CF5796-3A1E-424C-ACEE-CE7AB914CDAC}">
          <File Id="filCF31EFB80CFE5F3908D91B8390D676A3" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\TocToHxsContents.xsl" />
        </Component>
        <Component Id="cmpF2F8426624D469C735B8EEF7CD180603" Guid="{8FB7E4DC-382A-46C0-8FD9-65132338AD51}">
          <File Id="fil8C19558322B46DA11399CD33ABB06495" KeyPath="yes" Source="$(var.RootFolder)\ProductionTransforms\Vs2005TocToDsToc.xsl" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductionTransforms">
      <ComponentRef Id="cmpBCCDB4154609BA35007897D3A7A02867" />
      <ComponentRef Id="cmpAD4C9E620A8D76A7E9C1214AC235964C" />
      <ComponentRef Id="cmpA3E277CE69530A3BEB198DDBF4A1894E" />
      <ComponentRef Id="cmpAAFD5AD9E7728F1C9041B1FE4DB2722E" />
      <ComponentRef Id="cmp8E138DBFD84AA7231D6BB4EA3714DE0F" />
      <ComponentRef Id="cmp57E43DBD5521FCE7630B5A11F828CC93" />
      <ComponentRef Id="cmp2885AD338A677C7BCB40F57EC2F7E153" />
      <ComponentRef Id="cmp3D1E48D50177F071C2D3805C4F449700" />
      <ComponentRef Id="cmpB96BAE987D4996A583136956109F5E1D" />
      <ComponentRef Id="cmp2BA12BCB6BBADD71F049751A031C8DB4" />
      <ComponentRef Id="cmpF27A045D0173CC2971C92190309684FF" />
      <ComponentRef Id="cmpAE74A5653AB338453579DEB490F1784B" />
      <ComponentRef Id="cmp27DB9D5812CF9A093F41460ACF8E9AB6" />
      <ComponentRef Id="cmp3115A9888EE11A5ABF42D90534ADED3D" />
      <ComponentRef Id="cmp3D03B4CD4BA6DBECCB055F513BFD3D86" />
      <ComponentRef Id="cmp46B46958C975ECDA5B6FBCEDAFFED8E5" />
      <ComponentRef Id="cmp1539A39B81BFC7A14FE9F4E0D999CC62" />
      <ComponentRef Id="cmp06DF1AE5CD2314251BC74377983066D7" />
      <ComponentRef Id="cmp0215DF0D0346C64F093A922BAE0C5C14" />
      <ComponentRef Id="cmp035B7E22D8F64FAAD26A35BAB4F16E81" />
      <ComponentRef Id="cmp655B118DE0343E39C9B08EE36D0AD592" />
      <ComponentRef Id="cmp818A55F07348FF88A09B6CA8499A185F" />
      <ComponentRef Id="cmpF2F8426624D469C735B8EEF7CD180603" />
    </ComponentGroup>
  </Fragment>
</Wix>