<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Sandcastle.wxi ?>

	<Product Id="*" UpgradeCode="$(var.UpgradeCode)"
		Name="$(var.ProductName)" Version="!(bind.fileVersion.MRefBuilderExe)"
		Language="1033" Manufacturer="$(var.Manufacturer)">

		<!-- Package Definition -->
		<Package Id="*" Compressed="yes" Description="$(var.ProductShortName) !(bind.fileVersion.MRefBuilderExe)"
			InstallerVersion="200" ShortNames="no" Manufacturer="$(var.Manufacturer)" Languages="1033"
			SummaryCodepage="1252" />

		<!-- Major Upgrade Support -->
		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion Minimum="!(bind.fileVersion.MRefBuilderExe)" IncludeMinimum="no"
				OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
			<UpgradeVersion Minimum="0.0.0.0" IncludeMinimum="yes" Maximum="!(bind.fileVersion.MRefBuilderExe)"
				IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
		</Upgrade>

		<!-- Properties -->
		<Property Id="ARPPRODUCTICON"   Value="Sandcastle.ico" />
		<Property Id="ARPCONTACT"       Value="Eric Woodruff" />
		<Property Id="ARPHELPLINK"      Value="$(var.ProductHomePage)" />
		<Property Id="ARPURLINFOABOUT"  Value="$(var.ProductHomePage)" />
		<Property Id="ARPURLUPDATEINFO" Value="$(var.ProductHomePage)" />
		<Property Id="ARPCOMMENTS"      Value="Sandcastle documentation compiler tools for managed class libraries" />
		<Property Id="INSTALLLEVEL"			Value="3" />

		<!-- Launch Conditions -->
		<Condition Message="An administrator must approve or install [ProductName].">
			Privileged
		</Condition>

		<Condition Message="[ProductName] is already installed in a newer version on your computer.">
			NOT NEWERVERSIONDETECTED
		</Condition>

		<PropertyRef Id="NETFRAMEWORK40FULL"/>

		<Condition Message="[ProductName] requires .NET Framework 4.0. You can download it here: http://www.microsoft.com/downloads/en/details.aspx?FamilyID=9cfb2d51-5ff4-4491-b0e5-b386f32c0992&amp;displaylang=en">
			<![CDATA[Installed OR NETFRAMEWORK40FULL]]>
		</Condition>

		<!-- Media -->
		<Media Id="1" Cabinet="$(var.ProductShortName).cab" CompressionLevel="high" EmbedCab="yes" />

		<!-- Icons -->
		<Icon Id="Sandcastle.ico" SourceFile="Resources\Sandcastle.ico" />
		<Icon Id="Help.ico" SourceFile="Resources\Help.ico" />
		<Icon Id="HtmlDocument.ico" SourceFile="Resources\HtmlDocument.ico" />

		<!-- Files and Directories -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="Sandcastle" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="SandcastleProgramMenuDir" Name="Sandcastle" />
			</Directory>
		</Directory>

		<!-- Features -->
		<Feature Id="SandcastleTools" Title="Sandcastle Tools" Absent="disallow" AllowAdvertise="no"
			Level="1" ConfigurableDirectory="INSTALLDIR" Display="expand"
			Description="The core set of Sandcastle documentation tools and support files.">

			<ComponentGroupRef Id="Root" />
			<ComponentGroupRef Id="Data" />
			<ComponentGroupRef Id="Examples" />
			<ComponentGroupRef Id="Presentation"/>
			<ComponentGroupRef Id="ProductionTools" />
			<ComponentGroupRef Id="ProductionTransforms" />
			<ComponentGroupRef Id="Schemas" />

			<Feature Id="MAMLGuide" Title="Sandcastle MAML Guide" Absent="allow" AllowAdvertise="no"
				Level="3" Description="A guide to Microsoft Assistance Markup Language (MAML) and how to use it with Sandcastle.">
				<ComponentGroupRef Id="MAMLGuide" />
			</Feature>

			<Feature Id="WebCodeProviders" Title="Custom Web Code Providers" Absent="allow" AllowAdvertise="no"
				Level="3" Description="A set of web code providers useful for documenting website projects.">
				<ComponentGroupRef Id="WebCodeProviders" />
			</Feature>

			<Feature Id="LanguagePack" Title="Sandcastle Language Pack" Absent="allow" AllowAdvertise="no"
				Level="100" Description="Sets of resource item files for Sandcastle translated into various languages.">
				<ComponentGroupRef Id="LanguagePack" />
			</Feature>

			<Feature Id="HtmlToMaml" Title="HTML to MAML Converter" Absent="allow" AllowAdvertise="no"
				Level="100" Description="A utility that can convert HTML files into MAML conceptual topic files.">
				<ComponentGroupRef Id="HtmlToMaml" />
			</Feature>

		</Feature>

		<!-- Install Sequences -->
		<InstallExecuteSequence>
			<FindRelatedProducts Before="LaunchConditions" />
			<RemoveExistingProducts After="InstallValidate" />
		</InstallExecuteSequence>

		<InstallUISequence>
			<FindRelatedProducts Before="LaunchConditions" />
		</InstallUISequence>

		<!-- WixUI scaffolding -->
		<Property Id="ALLUSERS" Value="1" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
		<WixVariable Id="WixUIBannerBmp"  Value="Resources\Banner.bmp" />
		<WixVariable Id="WixUIDialogBmp"  Value="Resources\Dialog.bmp" />

		<UIRef Id="WixUI_FeatureTree" />
	</Product>
</Wix>
