<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Sandcastle.wxi ?>

	<!-- MAML element snippets -->
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dirA873C1BC720521878E7F1DDFC6A39BDC" Name="Snippets">
        <Directory Id="dir82B6710039E9E1C1C917C2A7997DE283" Name="MAML Block Elements">
          <Component Id="cmp32EE958E53CBFCA5C66F27227110EB49" Guid="{B488219B-1D6C-440A-9923-47F212C25E24}">
            <File Id="fil74D54B771D6553652F40A599DBD191DF" KeyPath="yes" Source="$(var.RootFolder)\Snippets\MAML Block Elements\MamlBlock.snippet" />
          </Component>
        </Directory>
        <Directory Id="dir53BD24C7A88051EB2ABDFC0A75AFD41E" Name="MAML Inline Elements">
          <Component Id="cmp6483E0165EB6A1C151D48B84F6A410C7" Guid="{B3F0D5EC-77E5-4AB9-B1F9-540DCAFE61A0}">
            <File Id="fil099C925B82FD6782ABFA85D815A72A54" KeyPath="yes" Source="$(var.RootFolder)\Snippets\MAML Inline Elements\MamlInline.snippet" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Snippets">
      <ComponentRef Id="cmp32EE958E53CBFCA5C66F27227110EB49" />
      <ComponentRef Id="cmp6483E0165EB6A1C151D48B84F6A410C7" />
    </ComponentGroup>
  </Fragment>
</Wix>