<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Product.wxi ?>

	<Fragment>
		<DirectoryRef Id="INSTALLDIR">

			<!-- Start menu -->

			<Component Id="StartMenuEntries" Guid="{5053DDFA-5A63-40e5-8DBA-76F1F8FFBEB5}">
				<CreateFolder Directory="INSTALLDIR" />
				<RemoveFolder Id="RemoveShfbStartMenu" Directory="ShfbProgramMenuDir" On="uninstall" />
			</Component>

			<!-- Environment variable SHFBROOT -->

			<Component Id="WriteSHFBEnvironmentPath" Guid="{084B0D20-A299-4865-AE32-F3A9A7473BF2}">
				<Environment Id="SetSHFBRoot" Name="SHFBROOT" Value="[INSTALLDIR]" Action="set" System="yes" />
				<CreateFolder Directory="INSTALLDIR" />
			</Component>

			<!-- Main executables -->

			<Component Id="SHFBProjectLauncher.exe" Guid="{AB9C9223-4C6F-4F60-A442-854F5D5F539B}">
				<File Id="SHFBProjectLauncher.exe" KeyPath="yes" Source="$(var.LauncherFolder)SHFBProjectLauncher.exe">
					<Shortcut Id="SHFBProjectLauncher.exe"
							  Directory="ShfbProgramMenuDir"
							  Icon="SHFBProjectLauncher.exe"
							  Name="SHFB Project Launcher"
							  Description="Choose the application used to load SHFB project files"
							  Advertise="yes" />
				</File>

				<ProgId Id="SandcastleBuilder.shfbproj"
				        Icon="SandcastleBuilder.exe"
				        Description="Sandcastle Help File Builder Project"
				        Advertise="yes">
					<Extension Id="shfbproj" ContentType="text/plain">
						<Verb Id="open" Argument="&quot;%1&quot;" />
					</Extension>
				</ProgId>

				<File Id="SHFBProjectLauncher.exe.config" Source="$(var.LauncherFolder)SHFBProjectLauncher.exe.config" />
			</Component>

			<Component Id="SandcastleBuilderGUI.exe" Guid="{CD8221A6-320B-4B0A-8AD6-FB9701F369AF}">
				<File Id="SandcastleBuilderGUI.exe" KeyPath="yes" Source="$(var.BinFolder)SandcastleBuilderGUI.exe">
					<Shortcut Id="SandcastleBuilderGUI.exe"
							  Directory="ShfbProgramMenuDir"
							  Icon="SandcastleBuilder.exe"
							  Name="Sandcastle Help File Builder GUI"
							  Description="Builds help files using Sandcastle help file builder GUI"
							  Advertise="yes" />
				</File>

				<File Id="SandcastleBuilderGUI.xml" Source="$(var.BinFolder)SandcastleBuilderGUI.xml" />
				<File Id="SandcastleBuilderGUI.exe.config" Source="$(var.BinFolder)SandcastleBuilderGUI.exe.config" />
			</Component>

			<Component Id="HelpLibraryManagerLauncher.exe" Guid="{02CB7E5B-6BC3-40DD-A082-0E4D62EB8BA3}">
				<File Id="HelpLibraryManagerLauncher.exe" KeyPath="yes" Source="$(var.BinFolder)HelpLibraryManagerLauncher.exe" />
			</Component>

			<Component Id="SandcastleHtmlExtract.exe" Guid="{0188A8E5-79E6-4CE5-89C1-55F2DC4F9FCD}">
				<File Id="SandcastleHtmlExtract.exe" KeyPath="yes" Source="$(var.BinFolder)SandcastleHtmlExtract.exe" />
				<File Id="SandcastleHtmlExtract.config" Source="$(var.BinFolder)SandcastleHtmlExtract.config" />
			</Component>

			<Component Id="GenerateInheritedDocs.exe" Guid="{C01C2C39-35B4-4DE2-94F6-788385516C9C}">
				<File Id="GenerateInheritedDocs.exe" KeyPath="yes" Source="$(var.BinFolder)GenerateInheritedDocs.exe" />
			</Component>

			<!-- Main libraries -->

			<Component Id="ColorizerLibrary.dll" Guid="{784CA880-9843-4436-9EA4-48DB87AC0625}">
				<File Id="ColorizerLibrary.dll" KeyPath="yes" Source="$(var.BinFolder)ColorizerLibrary.dll" />
				<File Id="ColorizerLibrary.xml" Source="$(var.BinFolder)ColorizerLibrary.xml" />
			</Component>

			<Component Id="SandcastleBuilder.Components.dll" Guid="{66A70D34-1688-45A5-9EB4-2E9070788F6C}">
				<File Id="SandcastleBuilder.Components.dll" KeyPath="yes" Source="$(var.BinFolder)SandcastleBuilder.Components.dll" />
				<File Id="SandcastleBuilder.Components.xml" Source="$(var.BinFolder)SandcastleBuilder.Components.xml" />
				<File Id="SandcastleBuilder.components" Source="$(var.BinFolder)SandcastleBuilder.components" />
        <File Id="SandcastleBuilder.filters" Source="$(var.BinFolder)SandcastleBuilder.filters" />
      </Component>

			<Component Id="SandcastleBuilder.PlugIns.plugins" Guid="{FD01471A-A05E-4289-858C-5E981E6EE9A5}">
				<File Id="SandcastleBuilder.PlugIns.plugins" KeyPath="yes" Source="$(var.BinFolder)SandcastleBuilder.PlugIns.plugins" />
				<File Id="SandcastleBuilder.PlugIns.xml" Source="$(var.BinFolder)SandcastleBuilder.PlugIns.xml" />
			</Component>

			<Component Id="SandcastleBuilder.Utils.dll" Guid="{63A7C5A1-3858-4ADB-A036-C3A0A0AC575E}">
				<File Id="SandcastleBuilder.Utils.dll" KeyPath="yes" Source="$(var.BinFolder)SandcastleBuilder.Utils.dll" />
				<File Id="SandcastleBuilder.Utils.xml" Source="$(var.BinFolder)SandcastleBuilder.Utils.xml" />
			</Component>

			<Component Id="SandcastleBuilder.WPF.dll" Guid="{41C0EEE7-7725-450E-ADFF-96F5F251D12C}">
				<File Id="SandcastleBuilder.WPF.dll" KeyPath="yes" Source="$(var.BinFolder)SandcastleBuilder.WPF.dll" />
				<File Id="SandcastleBuilder.WPF.xml" Source="$(var.BinFolder)SandcastleBuilder.WPF.xml" />
			</Component>

			<!-- MSBuild integration -->

			<Component Id="SandcastleHelpFileBuilder.targets" Guid="{9E93457D-FD1F-45A1-B12F-24E906E038F0}">
				<File Id="SandcastleHelpFileBuilder.targets" KeyPath="yes" Source="$(var.BinFolder)SandcastleHelpFileBuilder.targets" />
			</Component>

			<!-- License -->
			
			<Component Id="License.txt" Guid="{2029F775-623C-4838-B5AC-D815A3358856}">
				<File Id="License.txt" KeyPath="yes" Source="$(var.SolutionDir)License.txt" />
			</Component>

			<!-- Help file -->

			<Component Id="SandcastleBuilder.chm" Guid="{FB8A1B09-6628-4331-A943-4511462DF7DC}">
				<File Id="SandcastleBuilder.chm" KeyPath="yes" Source="$(var.HelpFolder)SandcastleBuilder.chm">
					<Shortcut Id="SandcastleBuilder.chm"
							  Directory="ShfbProgramMenuDir"
							  Icon="Help.ico"
							  Name="Sandcastle Help File Builder Help"
							  Description="Information on getting started and using the help file builder"
							  Advertise="yes" />
				</File>
			</Component>

			<!-- Web links -->

			<Component Id="SHFB.url" Guid="{037C04FF-D961-4F5A-BB88-9AC5B7E2F5B7}">
				<File Id="SHFB.url" KeyPath="yes" Source="$(var.SolutionDir)SHFB.url">
					<Shortcut Id="SHFB.url"
							  Directory="ShfbProgramMenuDir"
							  Icon="HtmlDocument.ico"
							  Name="Sandcastle Help File Builder"
							  Description="SHFB project site"
							  Advertise="yes" />
				</File>
			</Component>

			<!-- 3rd party libraries -->

			<Component Id="ICSharpCode.TextEditor.dll" Guid="{894A10C4-6152-45BB-93B4-96C0830134D4}">
				<File Id="ICSharpCode.TextEditor.dll" KeyPath="yes" Source="$(var.BinFolder)ICSharpCode.TextEditor.dll" />
			</Component>

			<Component Id="WeifenLuo.WinFormsUI.Docking.dll" Guid="{7F3E99BC-DEAB-4752-9ED0-414EFF3ADCFA}">
				<File Id="WeifenLuo.WinFormsUI.Docking.dll" KeyPath="yes" Source="$(var.BinFolder)WeifenLuo.WinFormsUI.Docking.dll" />
			</Component>

      <Component Id="Ionic.Zip.Reduced.dll" Guid="{93981174-57F0-467C-937B-F59C79D65FAD}">
        <File Id="Ionic.Zip.Reduced.dll" KeyPath="yes" Source="$(var.BinFolder)Ionic.Zip.Reduced.dll" />
      </Component>
    </DirectoryRef>

		<ComponentGroup Id="Binaries">

			<!-- Start menu -->
			<ComponentRef Id="StartMenuEntries" />

			<!-- Environment variable SHFBROOT -->
			<ComponentRef Id="WriteSHFBEnvironmentPath" />

			<!-- Main executables -->
      <ComponentRef Id="SHFBProjectLauncher.exe" />
      <ComponentRef Id="SandcastleBuilderGUI.exe" />
			<ComponentRef Id="HelpLibraryManagerLauncher.exe" />
			<ComponentRef Id="SandcastleHtmlExtract.exe" />
			<ComponentRef Id="GenerateInheritedDocs.exe" />

			<!-- Main libraries -->
			<ComponentRef Id="ColorizerLibrary.dll" />
			<ComponentRef Id="SandcastleBuilder.Components.dll" />
			<ComponentRef Id="SandcastleBuilder.PlugIns.plugins" />
			<ComponentRef Id="SandcastleBuilder.Utils.dll" />
			<ComponentRef Id="SandcastleBuilder.WPF.dll" />

			<!-- MSBuild integration -->
			<ComponentRef Id="SandcastleHelpFileBuilder.targets" />

			<!-- License -->
			<ComponentRef Id="License.txt" />

			<!-- Help file -->
			<ComponentRef Id="SandcastleBuilder.chm" />

			<!-- Web links -->
			<ComponentRef Id="SHFB.url" />

			<!-- 3rd party libraries -->
			<ComponentRef Id="ICSharpCode.TextEditor.dll" />
			<ComponentRef Id="WeifenLuo.WinFormsUI.Docking.dll" />
      <ComponentRef Id="Ionic.Zip.Reduced.dll" />
    </ComponentGroup>
	</Fragment>
</Wix>