<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Product.wxi ?>

	<Fragment>
		<DirectoryRef Id="INSTALLDIR">
			<Component Id="StartMenuEntries" Guid="{5053DDFA-5A63-40e5-8DBA-76F1F8FFBEB5}">
				<CreateFolder Directory="INSTALLDIR" />
				<RemoveFolder Id="RemoveShfbStartMenu" Directory="ShfbProgramMenuDir" On="uninstall" />
			</Component>
			<Component Id="WriteSHFBEnvironmentPath" Guid="{084B0D20-A299-4865-AE32-F3A9A7473BF2}">
				<Environment Id="SetSHFBRoot" Name="SHFBROOT" Value="[INSTALLDIR]" Action="set" System="yes" />
				<CreateFolder Directory="INSTALLDIR" />
			</Component>
			<Component Id="LICENSE" Guid="{2029F775-623C-4838-B5AC-D815A3358856}">
				<File Id="LICENSE" KeyPath="yes" Source="$(var.SolutionDir)..\..\LICENSE" />
			</Component>
			<Component Id="SHFB.url" Guid="{037C04FF-D961-4F5A-BB88-9AC5B7E2F5B7}">
				<File Id="SHFB.url" KeyPath="yes" Source="$(var.SolutionDir)SHFB.url">
					<Shortcut Id="SHFB.url"
						Directory="ShfbProgramMenuDir"
						Icon="HtmlDocument.ico"
						Name="Sandcastle Help File Builder Project"
						Description="SHFB project site"
						Advertise="yes" />
				</File>
			</Component>
			<Component Id="SHFBHelp.url" Guid="{D1BDC858-578D-4716-AC8B-9CB782953476}">
				<File Id="SHFBHelp.url" KeyPath="yes" Source="$(var.SolutionDir)SHFBHelp.url">
					<Shortcut Id="SHFBHelp.url"
						Directory="ShfbProgramMenuDir"
						Icon="HtmlDocument.ico"
						Name="Sandcastle Help File Builder Online Help"
						Description="SHFB online help"
						Advertise="yes" />
				</File>
			</Component>
			<Component Id="MAMLGuide.url" Guid="{312F52B1-AF4F-42B9-9E44-81D2D72853A7}">
				<File Id="MAMLGuide.url" KeyPath="yes" Source="$(var.SolutionDir)MAMLGuide.url">
					<Shortcut Id="MAMLGuide.url"
						Directory="ShfbProgramMenuDir"
						Icon="HtmlDocument.ico"
						Name="Microsoft Assistance Markup Language Guide"
						Description="MAML Guide"
						Advertise="yes" />
				</File>
			</Component>
			<Component Id="XMLCommentsGuide.url" Guid="{BAB2E56E-F526-4913-9863-CC3032FD4BDD}">
				<File Id="XMLCommentsGuide.url" KeyPath="yes" Source="$(var.SolutionDir)XMLCommentsGuide.url">
					<Shortcut Id="XMLCommentsGuide.url"
						Directory="ShfbProgramMenuDir"
						Icon="HtmlDocument.ico"
						Name="XML Comments Guide"
						Description="XML Comments Guide"
						Advertise="yes" />
				</File>
			</Component>
		</DirectoryRef>

		<ComponentGroup Id="Environment">
			<ComponentRef Id="StartMenuEntries" />
			<ComponentRef Id="WriteSHFBEnvironmentPath" />
			<ComponentRef Id="LICENSE" />
			<ComponentRef Id="SHFB.url" />
			<ComponentRef Id="SHFBHelp.url" />
			<ComponentRef Id="MAMLGuide.url" />
			<ComponentRef Id="XMLCommentsGuide.url" />
		</ComponentGroup>
	</Fragment>
</Wix>
