<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Product.wxi ?>

	<Fragment>
		<DirectoryRef Id="INSTALLDIR">
			<Directory Id="SharedContent" Name="SharedContent">
				<Component Id="HanaBuilderContent_de_DE.xml" Guid="{90E45F95-7FC0-4E59-A771-12D6C8597B39}">
					<File Id="HanaBuilderContent_de_DE.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\HanaBuilderContent_de-DE.xml" />
				</Component>
				<Component Id="HanaBuilderContent_en_US.xml" Guid="{FACCF920-32AB-4F5A-8545-F44C5142F228}">
					<File Id="HanaBuilderContent_en_US.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\HanaBuilderContent_en-US.xml" />
				</Component>
				<Component Id="HanaBuilderContent_es_ES.xml" Guid="{92118701-5C45-404B-BDD4-67FACD02A8B2}">
					<File Id="HanaBuilderContent_es_ES.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\HanaBuilderContent_es-ES.xml" />
				</Component>
				<Component Id="HanaBuilderContent_fr_FR.xml" Guid="{28B0D6A0-CF56-4A2E-A791-073A4450ABA5}">
					<File Id="HanaBuilderContent_fr_FR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\HanaBuilderContent_fr-FR.xml" />
				</Component>
				<Component Id="HanaBuilderContent_it_IT.xml" Guid="{04EEF6A5-FAE0-4050-BEC9-02032C391BE4}">
					<File Id="HanaBuilderContent_it_IT.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\HanaBuilderContent_it-IT.xml" />
				</Component>
				<Component Id="HanaBuilderContent_ja_JP.xml" Guid="{3666DA7F-93C4-4ED8-9E23-2DF540A46006}">
					<File Id="HanaBuilderContent_ja_JP.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\HanaBuilderContent_ja-JP.xml" />
				</Component>
				<Component Id="HanaBuilderContent_ko_KR.xml" Guid="{1E8F7485-450C-4CD6-9BCB-0E86EF43A631}">
					<File Id="HanaBuilderContent_ko_KR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\HanaBuilderContent_ko-KR.xml" />
				</Component>
				<Component Id="HanaBuilderContent_pt_BR.xml" Guid="{DBFBD270-8739-4FBB-986E-3DE501FD3319}">
					<File Id="HanaBuilderContent_pt_BR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\HanaBuilderContent_pt-BR.xml" />
				</Component>
				<Component Id="HanaBuilderContent_ru_RU.xml" Guid="{3796CBEC-A9E0-46F8-BC2A-453F708C9228}">
					<File Id="HanaBuilderContent_ru_RU.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\HanaBuilderContent_ru-RU.xml" />
				</Component>
				<Component Id="HanaBuilderContent_zh_CHS.xml" Guid="{77F80661-B77F-4448-AAAD-00556A8B1D19}">
					<File Id="HanaBuilderContent_zh_CHS.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\HanaBuilderContent_zh-CHS.xml" />
				</Component>
				<Component Id="HanaBuilderContent_zh_CN.xml" Guid="{BA6003F6-EB12-46AE-86A1-B3908AFD3631}">
					<File Id="HanaBuilderContent_zh_CN.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\HanaBuilderContent_zh-CN.xml" />
				</Component>
				<Component Id="PrototypeBuilderContent_de_DE.xml" Guid="{E3994867-C267-4D12-936A-8EA00A6F1FD1}">
					<File Id="PrototypeBuilderContent_de_DE.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\PrototypeBuilderContent_de-DE.xml" />
				</Component>
				<Component Id="PrototypeBuilderContent_en_US.xml" Guid="{B16AB46E-9678-4D2E-B2B8-D4852BBBD1D4}">
					<File Id="PrototypeBuilderContent_en_US.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\PrototypeBuilderContent_en-US.xml" />
				</Component>
				<Component Id="PrototypeBuilderContent_es_ES.xml" Guid="{1BE77363-975E-499F-8018-816E312A8C47}">
					<File Id="PrototypeBuilderContent_es_ES.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\PrototypeBuilderContent_es-ES.xml" />
				</Component>
				<Component Id="PrototypeBuilderContent_fr_FR.xml" Guid="{D3D527B3-9AC7-4451-A74B-860EA0C99089}">
					<File Id="PrototypeBuilderContent_fr_FR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\PrototypeBuilderContent_fr-FR.xml" />
				</Component>
				<Component Id="PrototypeBuilderContent_it_IT.xml" Guid="{F3C0C59F-D0BC-4C40-A621-D8D3DD2C4DB7}">
					<File Id="PrototypeBuilderContent_it_IT.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\PrototypeBuilderContent_it-IT.xml" />
				</Component>
				<Component Id="PrototypeBuilderContent_ja_JP.xml" Guid="{D95A14B9-DA28-49DF-B1AD-387EAC281F53}">
					<File Id="PrototypeBuilderContent_ja_JP.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\PrototypeBuilderContent_ja-JP.xml" />
				</Component>
				<Component Id="PrototypeBuilderContent_ko_KR.xml" Guid="{EA229BC6-924A-4453-A498-99E0ABAFC1B6}">
					<File Id="PrototypeBuilderContent_ko_KR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\PrototypeBuilderContent_ko-KR.xml" />
				</Component>
				<Component Id="PrototypeBuilderContent_pt_BR.xml" Guid="{1E0F6B21-0AA8-4E80-B55F-6F93EA387222}">
					<File Id="PrototypeBuilderContent_pt_BR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\PrototypeBuilderContent_pt-BR.xml" />
				</Component>
				<Component Id="PrototypeBuilderContent_ru_RU.xml" Guid="{731A6695-81B2-4C98-BC4F-9200ECF9A9CF}">
					<File Id="PrototypeBuilderContent_ru_RU.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\PrototypeBuilderContent_ru-RU.xml" />
				</Component>
				<Component Id="PrototypeBuilderContent_zh_CHS.xml" Guid="{C9AA5211-2CE3-4ED6-B225-A3212A24AD26}">
					<File Id="PrototypeBuilderContent_zh_CHS.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\PrototypeBuilderContent_zh-CHS.xml" />
				</Component>
				<Component Id="PrototypeBuilderContent_zh_CN.xml" Guid="{CBA164FF-7AA8-41C4-9F42-B30BB5F50A94}">
					<File Id="PrototypeBuilderContent_zh_CN.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\PrototypeBuilderContent_zh-CN.xml" />
				</Component>
				<Component Id="SharedBuilderContent_de_DE.xml" Guid="{49F77043-2940-4E0D-8B8C-17FF64F45CEC}">
					<File Id="SharedBuilderContent_de_DE.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\SharedBuilderContent_de-DE.xml" />
				</Component>
				<Component Id="SharedBuilderContent_en_US.xml" Guid="{5AC112AE-E9A7-49FD-9CAC-89BAD79F09A6}">
					<File Id="SharedBuilderContent_en_US.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\SharedBuilderContent_en-US.xml" />
				</Component>
				<Component Id="SharedBuilderContent_es_ES.xml" Guid="{BE219FF2-4B29-4485-A78C-55CEE865AC8D}">
					<File Id="SharedBuilderContent_es_ES.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\SharedBuilderContent_es-ES.xml" />
				</Component>
				<Component Id="SharedBuilderContent_fr_FR.xml" Guid="{D829A48A-D453-426A-86B6-F8A70CAAC7E7}">
					<File Id="SharedBuilderContent_fr_FR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\SharedBuilderContent_fr-FR.xml" />
				</Component>
				<Component Id="SharedBuilderContent_it_IT.xml" Guid="{08094AA2-5BA8-47DD-9469-91115362DAA7}">
					<File Id="SharedBuilderContent_it_IT.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\SharedBuilderContent_it-IT.xml" />
				</Component>
				<Component Id="SharedBuilderContent_ja_JP.xml" Guid="{CD876438-A77F-4D40-A7BC-532B6E628E4D}">
					<File Id="SharedBuilderContent_ja_JP.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\SharedBuilderContent_ja-JP.xml" />
				</Component>
				<Component Id="SharedBuilderContent_ko_KR.xml" Guid="{90B64D41-F505-4374-8083-C812B56CC2A6}">
					<File Id="SharedBuilderContent_ko_KR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\SharedBuilderContent_ko-KR.xml" />
				</Component>
				<Component Id="SharedBuilderContent_pt_BR.xml" Guid="{7C702E5C-A026-4EF3-89B9-8D3067EE95DB}">
					<File Id="SharedBuilderContent_pt_BR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\SharedBuilderContent_pt-BR.xml" />
				</Component>
				<Component Id="SharedBuilderContent_ru_RU.xml" Guid="{5E51CFA2-3200-42B4-BE2E-9B90837EA356}">
					<File Id="SharedBuilderContent_ru_RU.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\SharedBuilderContent_ru-RU.xml" />
				</Component>
				<Component Id="SharedBuilderContent_zh_CHS.xml" Guid="{EBC78D58-7AA7-4A14-8DCA-ADC9EA1147E7}">
					<File Id="SharedBuilderContent_zh_CHS.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\SharedBuilderContent_zh-CHS.xml" />
				</Component>
				<Component Id="SharedBuilderContent_zh_CN.xml" Guid="{826A71D5-3E72-47F3-BEA0-21895D88A1A6}">
					<File Id="SharedBuilderContent_zh_CN.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\SharedBuilderContent_zh-CN.xml" />
				</Component>
				<Component Id="StopWordList_de_DE.txt" Guid="{519DE954-5D32-4108-B849-2911AC198265}">
					<File Id="StopWordList_de_DE.txt" KeyPath="yes" Source="$(var.BinFolder)SharedContent\StopWordList_de-DE.txt" />
				</Component>
				<Component Id="StopWordList_en_US.txt" Guid="{4A0AD419-1EDF-4FF1-9586-A89424A0190D}">
					<File Id="StopWordList_en_US.txt" KeyPath="yes" Source="$(var.BinFolder)SharedContent\StopWordList_en-US.txt" />
				</Component>
				<Component Id="StopWordList_es_ES.txt" Guid="{ADB840F5-CFBA-4356-8C63-A220505EF546}">
					<File Id="StopWordList_es_ES.txt" KeyPath="yes" Source="$(var.BinFolder)SharedContent\StopWordList_es-ES.txt" />
				</Component>
				<Component Id="StopWordList_fr_FR.txt" Guid="{AADB59DE-F60D-42DA-A042-E4A521B0C2FC}">
					<File Id="StopWordList_fr_FR.txt" KeyPath="yes" Source="$(var.BinFolder)SharedContent\StopWordList_fr-FR.txt" />
				</Component>
				<Component Id="StopWordList_it_IT.txt" Guid="{4C53E6AD-ECAC-4403-B7D4-91134F2FA0F0}">
					<File Id="StopWordList_it_IT.txt" KeyPath="yes" Source="$(var.BinFolder)SharedContent\StopWordList_it-IT.txt" />
				</Component>
				<Component Id="StopWordList_ja_JP.txt" Guid="{6D6678F9-52CF-4C1C-9551-8B0B9AF9E48C}">
					<File Id="StopWordList_ja_JP.txt" KeyPath="yes" Source="$(var.BinFolder)SharedContent\StopWordList_ja-JP.txt" />
				</Component>
				<Component Id="StopWordList_ko_KR.txt" Guid="{AB296CA7-1C97-4E35-B750-986861B45A00}">
					<File Id="StopWordList_ko_KR.txt" KeyPath="yes" Source="$(var.BinFolder)SharedContent\StopWordList_ko-KR.txt" />
				</Component>
				<Component Id="StopWordList_pt_BR.txt" Guid="{61C5669B-34C6-40A1-8099-9908187B8372}">
					<File Id="StopWordList_pt_BR.txt" KeyPath="yes" Source="$(var.BinFolder)SharedContent\StopWordList_pt-BR.txt" />
				</Component>
				<Component Id="StopWordList_ru_RU.txt" Guid="{55AE1D31-BD52-4FF3-9BAC-7C393D7CB62C}">
					<File Id="StopWordList_ru_RU.txt" KeyPath="yes" Source="$(var.BinFolder)SharedContent\StopWordList_ru-RU.txt" />
				</Component>
				<Component Id="StopWordList_zh_CHS.txt" Guid="{A1A6C088-5B26-4EEE-A968-2E47A16781B8}">
					<File Id="StopWordList_zh_CHS.txt" KeyPath="yes" Source="$(var.BinFolder)SharedContent\StopWordList_zh-CHS.txt" />
				</Component>
				<Component Id="StopWordList_zh_CN.txt" Guid="{DA527A5D-B046-4825-A2FF-1E2FF44D1049}">
					<File Id="StopWordList_zh_CN.txt" KeyPath="yes" Source="$(var.BinFolder)SharedContent\StopWordList_zh-CN.txt" />
				</Component>
				<Component Id="VS2005BuilderContent_de_DE.xml" Guid="{08E5C2F0-6C22-45C5-A617-958DAF166C3F}">
					<File Id="VS2005BuilderContent_de_DE.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\VS2005BuilderContent_de-DE.xml" />
				</Component>
				<Component Id="VS2005BuilderContent_en_US.xml" Guid="{33F8D8DC-2694-42D6-A4C9-763633702AAC}">
					<File Id="VS2005BuilderContent_en_US.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\VS2005BuilderContent_en-US.xml" />
				</Component>
				<Component Id="VS2005BuilderContent_es_ES.xml" Guid="{4250E145-B60D-4368-A5DC-63625F27DB77}">
					<File Id="VS2005BuilderContent_es_ES.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\VS2005BuilderContent_es-ES.xml" />
				</Component>
				<Component Id="VS2005BuilderContent_fr_FR.xml" Guid="{86F60DE7-0197-4D95-8D7B-D646DEA2AA7F}">
					<File Id="VS2005BuilderContent_fr_FR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\VS2005BuilderContent_fr-FR.xml" />
				</Component>
				<Component Id="VS2005BuilderContent_it_IT.xml" Guid="{9D9465BA-38B7-4887-8A92-C05B914C6A91}">
					<File Id="VS2005BuilderContent_it_IT.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\VS2005BuilderContent_it-IT.xml" />
				</Component>
				<Component Id="VS2005BuilderContent_ja_JP.xml" Guid="{56ABB144-1148-4087-9582-D003C7478230}">
					<File Id="VS2005BuilderContent_ja_JP.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\VS2005BuilderContent_ja-JP.xml" />
				</Component>
				<Component Id="VS2005BuilderContent_ko_KR.xml" Guid="{CD96F04E-035A-4160-B865-FC197511872B}">
					<File Id="VS2005BuilderContent_ko_KR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\VS2005BuilderContent_ko-KR.xml" />
				</Component>
				<Component Id="VS2005BuilderContent_pt_BR.xml" Guid="{12DC0E21-1608-46B2-A0E2-35A9B326CC8A}">
					<File Id="VS2005BuilderContent_pt_BR.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\VS2005BuilderContent_pt-BR.xml" />
				</Component>
				<Component Id="VS2005BuilderContent_ru_RU.xml" Guid="{F71C7D4D-3ED5-4442-8861-4924908AC374}">
					<File Id="VS2005BuilderContent_ru_RU.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\VS2005BuilderContent_ru-RU.xml" />
				</Component>
				<Component Id="VS2005BuilderContent_zh_CHS.xml" Guid="{C1DEA2A3-4303-4CD7-B084-EC7C06A98334}">
					<File Id="VS2005BuilderContent_zh_CHS.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\VS2005BuilderContent_zh-CHS.xml" />
				</Component>
				<Component Id="VS2005BuilderContent_zh_CN.xml" Guid="{6DD00762-4177-46EE-93AA-31B16850F10A}">
					<File Id="VS2005BuilderContent_zh_CN.xml" KeyPath="yes" Source="$(var.BinFolder)SharedContent\VS2005BuilderContent_zh-CN.xml" />
				</Component>
			</Directory>
		</DirectoryRef>

		<ComponentGroup Id="SharedContent">
			<ComponentRef Id="HanaBuilderContent_de_DE.xml" />
			<ComponentRef Id="HanaBuilderContent_en_US.xml" />
			<ComponentRef Id="HanaBuilderContent_es_ES.xml" />
			<ComponentRef Id="HanaBuilderContent_fr_FR.xml" />
			<ComponentRef Id="HanaBuilderContent_it_IT.xml" />
			<ComponentRef Id="HanaBuilderContent_ja_JP.xml" />
			<ComponentRef Id="HanaBuilderContent_ko_KR.xml" />
			<ComponentRef Id="HanaBuilderContent_pt_BR.xml" />
			<ComponentRef Id="HanaBuilderContent_ru_RU.xml" />
			<ComponentRef Id="HanaBuilderContent_zh_CHS.xml" />
			<ComponentRef Id="HanaBuilderContent_zh_CN.xml" />
			<ComponentRef Id="PrototypeBuilderContent_de_DE.xml" />
			<ComponentRef Id="PrototypeBuilderContent_en_US.xml" />
			<ComponentRef Id="PrototypeBuilderContent_es_ES.xml" />
			<ComponentRef Id="PrototypeBuilderContent_fr_FR.xml" />
			<ComponentRef Id="PrototypeBuilderContent_it_IT.xml" />
			<ComponentRef Id="PrototypeBuilderContent_ja_JP.xml" />
			<ComponentRef Id="PrototypeBuilderContent_ko_KR.xml" />
			<ComponentRef Id="PrototypeBuilderContent_pt_BR.xml" />
			<ComponentRef Id="PrototypeBuilderContent_ru_RU.xml" />
			<ComponentRef Id="PrototypeBuilderContent_zh_CHS.xml" />
			<ComponentRef Id="PrototypeBuilderContent_zh_CN.xml" />
			<ComponentRef Id="SharedBuilderContent_de_DE.xml" />
			<ComponentRef Id="SharedBuilderContent_en_US.xml" />
			<ComponentRef Id="SharedBuilderContent_es_ES.xml" />
			<ComponentRef Id="SharedBuilderContent_fr_FR.xml" />
			<ComponentRef Id="SharedBuilderContent_it_IT.xml" />
			<ComponentRef Id="SharedBuilderContent_ja_JP.xml" />
			<ComponentRef Id="SharedBuilderContent_ko_KR.xml" />
			<ComponentRef Id="SharedBuilderContent_pt_BR.xml" />
			<ComponentRef Id="SharedBuilderContent_ru_RU.xml" />
			<ComponentRef Id="SharedBuilderContent_zh_CHS.xml" />
			<ComponentRef Id="SharedBuilderContent_zh_CN.xml" />
			<ComponentRef Id="StopWordList_de_DE.txt" />
			<ComponentRef Id="StopWordList_en_US.txt" />
			<ComponentRef Id="StopWordList_es_ES.txt" />
			<ComponentRef Id="StopWordList_fr_FR.txt" />
			<ComponentRef Id="StopWordList_it_IT.txt" />
			<ComponentRef Id="StopWordList_ja_JP.txt" />
			<ComponentRef Id="StopWordList_ko_KR.txt" />
			<ComponentRef Id="StopWordList_pt_BR.txt" />
			<ComponentRef Id="StopWordList_ru_RU.txt" />
			<ComponentRef Id="StopWordList_zh_CHS.txt" />
			<ComponentRef Id="StopWordList_zh_CN.txt" />
			<ComponentRef Id="VS2005BuilderContent_de_DE.xml" />
			<ComponentRef Id="VS2005BuilderContent_en_US.xml" />
			<ComponentRef Id="VS2005BuilderContent_es_ES.xml" />
			<ComponentRef Id="VS2005BuilderContent_fr_FR.xml" />
			<ComponentRef Id="VS2005BuilderContent_it_IT.xml" />
			<ComponentRef Id="VS2005BuilderContent_ja_JP.xml" />
			<ComponentRef Id="VS2005BuilderContent_ko_KR.xml" />
			<ComponentRef Id="VS2005BuilderContent_pt_BR.xml" />
			<ComponentRef Id="VS2005BuilderContent_ru_RU.xml" />
			<ComponentRef Id="VS2005BuilderContent_zh_CHS.xml" />
			<ComponentRef Id="VS2005BuilderContent_zh_CN.xml" />
		</ComponentGroup>
	</Fragment>
</Wix>