<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Product.wxi ?>

	<Fragment>
		<DirectoryRef Id="INSTALLDIR">
			<Directory Id="ConceptualTemplates" Name="ConceptualTemplates">
				<Component Id="Conceptual.aml" Guid="{CFA309BC-E4FB-4510-A80E-CA7D64C78EDD}">
					<File Id="Conceptual.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\Conceptual.aml" />
				</Component>
				<Component Id="Error_Message.aml" Guid="{0057596E-FFCF-4236-8130-79A8E2203CB5}">
					<File Id="Error_Message.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\Error Message.aml" />
				</Component>
				<Component Id="Glossary.aml" Guid="{93A3FCA3-6500-4FF7-BB0D-90198062606E}">
					<File Id="Glossary.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\Glossary.aml" />
				</Component>
				<Component Id="How_To.aml" Guid="{89081AD6-666B-4FA6-8DF8-B42B765A11C1}">
					<File Id="How_To.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\How To.aml" />
				</Component>
				<Component Id="Orientation.aml" Guid="{2E89DA59-E1C7-4E55-A40C-10303C91677A}">
					<File Id="Orientation.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\Orientation.aml" />
				</Component>
				<Component Id="Reference_With_Syntax.aml" Guid="{B35FA8B1-68E4-4F0F-B069-418A68D603E6}">
					<File Id="Reference_With_Syntax.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\Reference With Syntax.aml" />
				</Component>
				<Component Id="Reference_Without_Syntax.aml" Guid="{BB40E64F-3AD8-405B-81DB-670852C70C19}">
					<File Id="Reference_Without_Syntax.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\Reference Without Syntax.aml" />
				</Component>
				<Component Id="Reference.aml" Guid="{7B19C0C3-60CB-495F-9D4D-38B332F9BDDB}">
					<File Id="Reference.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\Reference.aml" />
				</Component>
				<Component Id="Sample.aml" Guid="{8121F523-C806-40B7-819D-BF3C5B6CAAD8}">
					<File Id="Sample.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\Sample.aml" />
				</Component>
				<Component Id="SDK_Technology_Architecture.aml" Guid="{4CF80CA5-14F4-4E93-82EE-BE2E2E3FF142}">
					<File Id="SDK_Technology_Architecture.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\SDK Technology Architecture.aml" />
				</Component>
				<Component Id="SDK_Technology_Code_Directory.aml" Guid="{D1543B6E-ACB3-430B-9FBF-6B98D1ED10B8}">
					<File Id="SDK_Technology_Code_Directory.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\SDK Technology Code Directory.aml" />
				</Component>
				<Component Id="SDK_Technology_Orientation.aml" Guid="{83D3797A-36AA-419A-8594-8EA24F31C177}">
					<File Id="SDK_Technology_Orientation.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\SDK Technology Orientation.aml" />
				</Component>
				<Component Id="SDK_Technology_Scenarios.aml" Guid="{2D0144F3-6D03-49D6-ABB6-D2A69CD9FFED}">
					<File Id="SDK_Technology_Scenarios.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\SDK Technology Scenarios.aml" />
				</Component>
				<Component Id="SDK_Technology_Summary.aml" Guid="{ED278782-E720-437D-A448-C70699293979}">
					<File Id="SDK_Technology_Summary.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\SDK Technology Summary.aml" />
				</Component>
				<Component Id="Troubleshooting.aml" Guid="{DA27AD85-9149-4394-BFA1-619A5EEF1E9A}">
					<File Id="Troubleshooting.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\Troubleshooting.aml" />
				</Component>
				<Component Id="User_Interface_Reference.aml" Guid="{CC607720-79B3-4F5B-893A-48BA88837E8A}">
					<File Id="User_Interface_Reference.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\User Interface Reference.aml" />
				</Component>
				<Component Id="Walkthrough.aml" Guid="{80296F57-A518-4322-B92C-93C04097160E}">
					<File Id="Walkthrough.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\Walkthrough.aml" />
				</Component>
				<Component Id="Whitepaper.aml" Guid="{9F4261A1-B316-4171-9785-192BD354A9FB}">
					<File Id="Whitepaper.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\Whitepaper.aml" />
				</Component>
				<Component Id="XML_Reference.aml" Guid="{5A3A4EF2-C27A-4281-992E-8BB83BCB9357}">
					<File Id="XML_Reference.aml" KeyPath="yes" Source="$(var.BinFolder)ConceptualTemplates\XML Reference.aml" />
				</Component>
			</Directory>
			<Directory Id="ItemTemplates" Name="ItemTemplates">
				<Component Id="Bitmap.bmp" Guid="{178BA9A1-0194-4032-B2F8-8CD5D29137A2}">
					<File Id="Bitmap.bmp" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\Bitmap.bmp" />
				</Component>
				<Component Id="Code_Snippets.snippets" Guid="{22F5BFBE-B01A-45B3-9DF0-75ABCB3C643E}">
					<File Id="Code_Snippets.snippets" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\Code Snippets.snippets" />
				</Component>
				<Component Id="Content_Layout.content" Guid="{A550F114-B452-4058-A784-58EEAC3AB3FE}">
					<File Id="Content_Layout.content" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\Content Layout.content" />
				</Component>
				<Component Id="Html_Page.html" Guid="{3E749E7D-B4B5-4FC0-B15F-F786279746A8}">
					<File Id="Html_Page.html" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\Html Page.html" />
				</Component>
        <Component Id="Resource_Item_File.items" Guid="{E41977C6-1736-4B66-B22D-C8D439820392}">
          <File Id="Resource_Item_File.items" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\Resource Item File.items" />
        </Component>
        <Component Id="Script_File.js" Guid="{63CAB7F4-3161-44A6-ABC1-CF4CA8C9646B}">
					<File Id="Script_File.js" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\Script File.js" />
				</Component>
				<Component Id="Site_Map.sitemap" Guid="{312924AF-F590-4F6A-8EE8-5663B1B38C29}">
					<File Id="Site_Map.sitemap" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\Site Map.sitemap" />
				</Component>
				<Component Id="Style_Sheet.css" Guid="{964822B4-548F-4355-ADD6-908A879F0AED}">
					<File Id="Style_Sheet.css" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\Style Sheet.css" />
				</Component>
				<Component Id="Text_File.txt" Guid="{60169FD4-6B5F-4EAA-9D4F-4A819622AF12}">
					<File Id="Text_File.txt" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\Text File.txt" />
				</Component>
				<Component Id="Token_File.tokens" Guid="{F8FEB835-43B0-4D62-AC56-E4B309AF98AE}">
					<File Id="Token_File.tokens" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\Token File.tokens" />
				</Component>
				<Component Id="XML_File.xml" Guid="{7E266B66-39CA-4B51-A80D-8473E72F217C}">
					<File Id="XML_File.xml" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\XML File.xml" />
				</Component>
				<Component Id="XSLT_File.xslt" Guid="{62DD00CB-BC5F-4B47-9196-4F9380DCD12B}">
					<File Id="XSLT_File.xslt" KeyPath="yes" Source="$(var.BinFolder)ItemTemplates\XSLT File.xslt" />
				</Component>
			</Directory>
			<Directory Id="Templates" Name="Templates">
				<Component Id="Build1xHelpFile.proj" Guid="{C0E1A432-D7F1-4AAD-8F9D-A91EDFBAB1AE}">
					<File Id="Build1xHelpFile.proj" KeyPath="yes" Source="$(var.BinFolder)Templates\Build1xHelpFile.proj" />
				</Component>
				<Component Id="Build2xHelpFile.proj" Guid="{15E2D6E0-CBA9-4AF8-B936-31D346B03A06}">
					<File Id="Build2xHelpFile.proj" KeyPath="yes" Source="$(var.BinFolder)Templates\Build2xHelpFile.proj" />
				</Component>
				<Component Id="BuildConceptualTopics.proj" Guid="{C2255414-B26D-413B-B464-E2A8DCCF7CFF}">
					<File Id="BuildConceptualTopics.proj" KeyPath="yes" Source="$(var.BinFolder)Templates\BuildConceptualTopics.proj" />
				</Component>
        <Component Id="BuildHelpViewerFile.proj" Guid="{B15677F2-F5B0-4f1E-98A8-32521785DB3C}">
          <File Id="BuildHelpViewerFile.proj" KeyPath="yes" Source="$(var.BinFolder)Templates\BuildHelpViewerFile.proj" />
        </Component>
        <Component Id="BuildReferenceTopics.proj" Guid="{3BB4FBAA-8627-4134-A0D0-21E329AC4E28}">
					<File Id="BuildReferenceTopics.proj" KeyPath="yes" Source="$(var.BinFolder)Templates\BuildReferenceTopics.proj" />
				</Component>
				<Component Id="conceptual.config" Guid="{16D66F23-C0A4-47EA-98BA-7F44981BE25E}">
					<File Id="conceptual.config" KeyPath="yes" Source="$(var.BinFolder)Templates\conceptual.config" />
				</Component>
				<Component Id="ExtractHtmlInfo.proj" Guid="{D6229E38-1098-44B3-8539-DD3FFDD70033}">
					<File Id="ExtractHtmlInfo.proj" KeyPath="yes" Source="$(var.BinFolder)Templates\ExtractHtmlInfo.proj" />
				</Component>
				<Component Id="FixScriptSharp.xsl" Guid="{69EBC898-EDDB-4152-B587-106D77AC4B53}">
					<File Id="FixScriptSharp.xsl" KeyPath="yes" Source="$(var.BinFolder)Templates\FixScriptSharp.xsl" />
				</Component>
				<Component Id="Generate2xTOC.proj" Guid="{D76B2966-12BA-462E-8B6D-4610C0DA1B78}">
					<File Id="Generate2xTOC.proj" KeyPath="yes" Source="$(var.BinFolder)Templates\Generate2xTOC.proj" />
				</Component>
				<Component Id="GenerateInheritedDocs.config" Guid="{8C16D383-7901-4113-85AC-1C0B6F0BF66F}">
					<File Id="GenerateInheritedDocs.config" KeyPath="yes" Source="$(var.BinFolder)Templates\GenerateInheritedDocs.config" />
				</Component>
				<Component Id="GenerateInheritedDocs.proj" Guid="{1E89CDBC-1B69-4D4F-B0B5-B579F2C6F5C9}">
					<File Id="GenerateInheritedDocs.proj" KeyPath="yes" Source="$(var.BinFolder)Templates\GenerateInheritedDocs.proj" />
				</Component>
				<Component Id="GenerateIntermediateTOC.proj" Guid="{3F056E62-F0C1-4265-AD28-5B360A667088}">
					<File Id="GenerateIntermediateTOC.proj" KeyPath="yes" Source="$(var.BinFolder)Templates\GenerateIntermediateTOC.proj" />
				</Component>
				<Component Id="GenerateRefInfo.proj" Guid="{7EE78773-335B-47A9-8181-DD7F64639DC3}">
					<File Id="GenerateRefInfo.proj" KeyPath="yes" Source="$(var.BinFolder)Templates\GenerateRefInfo.proj" />
				</Component>
				<Component Id="Hana.config" Guid="{BB88C4D2-3555-4819-8EFE-82E3E285C069}">
					<File Id="Hana.config" KeyPath="yes" Source="$(var.BinFolder)Templates\Hana.config" />
				</Component>
				<Component Id="Hana.xsl" Guid="{893E954A-C9A9-467B-A39A-473BAEC286DD}">
					<File Id="Hana.xsl" KeyPath="yes" Source="$(var.BinFolder)Templates\Hana.xsl" />
				</Component>
				<Component Id="Help1x.hhp" Guid="{2B0CD8FF-3802-4A7A-B143-2A90B4ACE92A}">
					<File Id="Help1x.hhp" KeyPath="yes" Source="$(var.BinFolder)Templates\Help1x.hhp" />
				</Component>
				<Component Id="Help2x.HxC" Guid="{C3A66BF1-DFA5-4ACD-97DF-7B172E004239}">
					<File Id="Help2x.HxC" KeyPath="yes" Source="$(var.BinFolder)Templates\Help2x.HxC" />
				</Component>
				<Component Id="Help2x.HxF" Guid="{1CB8CC31-C65C-40DD-91ED-AE9C59C913B4}">
					<File Id="Help2x.HxF" KeyPath="yes" Source="$(var.BinFolder)Templates\Help2x.HxF" />
				</Component>
				<Component Id="Help2x_A.HxK" Guid="{B102A9FA-222A-4A96-B375-1E202F486479}">
					<File Id="Help2x_A.HxK" KeyPath="yes" Source="$(var.BinFolder)Templates\Help2x_A.HxK" />
				</Component>
				<Component Id="Help2x_B.HxK" Guid="{38978F09-4889-4BFF-844A-90165EAEA75D}">
					<File Id="Help2x_B.HxK" KeyPath="yes" Source="$(var.BinFolder)Templates\Help2x_B.HxK" />
				</Component>
				<Component Id="Help2x_F.HxK" Guid="{8EA3DABE-9B65-412B-890F-D679B1347A26}">
					<File Id="Help2x_F.HxK" KeyPath="yes" Source="$(var.BinFolder)Templates\Help2x_F.HxK" />
				</Component>
				<Component Id="Help2x_H2Reg.ini" Guid="{CE1DB92F-D56D-4F8F-AE95-84933EE743FF}">
					<File Id="Help2x_H2Reg.ini" KeyPath="yes" Source="$(var.BinFolder)Templates\Help2x_H2Reg.ini" />
				</Component>
				<Component Id="Help2x_K.HxK" Guid="{11EAE7FC-9A16-4B21-B136-8AF4E2411C6C}">
					<File Id="Help2x_K.HxK" KeyPath="yes" Source="$(var.BinFolder)Templates\Help2x_K.HxK" />
				</Component>
				<Component Id="Help2x_NamedURLIndex.HxK" Guid="{7E967F07-B256-4DA4-BE1B-C6E94DBC7308}">
					<File Id="Help2x_NamedURLIndex.HxK" KeyPath="yes" Source="$(var.BinFolder)Templates\Help2x_NamedURLIndex.HxK" />
				</Component>
				<Component Id="Help2x_S.HxK" Guid="{F8115E13-CFB8-4FEE-9C62-8C98C6B17ACB}">
					<File Id="Help2x_S.HxK" KeyPath="yes" Source="$(var.BinFolder)Templates\Help2x_S.HxK" />
				</Component>
				<Component Id="HelpContentSetup.msha" Guid="{E9B553F3-30FB-4ACF-8A17-5DF0FC22D538}">
					<File Id="HelpContentSetup.msha" KeyPath="yes" Source="$(var.BinFolder)Templates\HelpContentSetup.msha" />
				</Component>
				<Component Id="HelpFileBuilderTokens.tokens" Guid="{628262F9-EE34-433A-AA6C-A8D2B48668E7}">
					<File Id="HelpFileBuilderTokens.tokens" KeyPath="yes" Source="$(var.BinFolder)Templates\HelpFileBuilderTokens.tokens" />
				</Component>
				<Component Id="InstallMSHC.bat" Guid="{E04AAF4C-3CBA-43B0-B923-EFD8D2EBD7B0}">
					<File Id="InstallMSHC.bat" KeyPath="yes" Source="$(var.BinFolder)Templates\InstallMSHC.bat" />
				</Component>
        <Component Id="MRefBuilder.config" Guid="{10FA3366-F5AB-40F9-A6C0-12DBAEC84BF2}">
          <File Id="MRefBuilder.config" KeyPath="yes" Source="$(var.BinFolder)Templates\MRefBuilder.config" />
        </Component>
        <Component Id="PlaceHolderNode.aml" Guid="{A9949523-9ABD-45DA-BE34-C18A2234B654}">
					<File Id="PlaceHolderNode.aml" KeyPath="yes" Source="$(var.BinFolder)Templates\PlaceHolderNode.aml" />
				</Component>
				<Component Id="Prototype.config" Guid="{37B6785D-79E5-48ED-9CEC-2D37E03276E5}">
					<File Id="Prototype.config" KeyPath="yes" Source="$(var.BinFolder)Templates\Prototype.config" />
				</Component>
				<Component Id="Prototype.xsl" Guid="{1B1BE2F4-D3E4-47CC-AE9A-C72DC2D688ED}">
					<File Id="Prototype.xsl" KeyPath="yes" Source="$(var.BinFolder)Templates\Prototype.xsl" />
				</Component>
				<Component Id="RemoveMSHC.bat" Guid="{73AE8075-EEE1-4F92-BDB1-7890F9EF781D}">
					<File Id="RemoveMSHC.bat" KeyPath="yes" Source="$(var.BinFolder)Templates\RemoveMSHC.bat" />
				</Component>
				<Component Id="TransformBuildLog.xsl" Guid="{EAB9FBBA-875A-4D6D-B2E4-8EC9CFC80F6A}">
					<File Id="TransformBuildLog.xsl" KeyPath="yes" Source="$(var.BinFolder)Templates\TransformBuildLog.xsl" />
				</Component>
				<Component Id="TransformManifest.proj" Guid="{4D9A7C65-5453-439B-9DC1-5B19298FDAA8}">
					<File Id="TransformManifest.proj" KeyPath="yes" Source="$(var.BinFolder)Templates\TransformManifest.proj" />
				</Component>
				<Component Id="VS2005.config" Guid="{2CB936E0-66D3-48BD-84DA-50E0164F2D9F}">
					<File Id="VS2005.config" KeyPath="yes" Source="$(var.BinFolder)Templates\VS2005.config" />
				</Component>
				<Component Id="VS2005.xsl" Guid="{BC0C330E-AFD1-4129-B377-F001B4A73CCF}">
					<File Id="VS2005.xsl" KeyPath="yes" Source="$(var.BinFolder)Templates\VS2005.xsl" />
				</Component>
			</Directory>
		</DirectoryRef>

		<ComponentGroup Id="ConceptualTemplates">
			<ComponentRef Id="Conceptual.aml" />
			<ComponentRef Id="Error_Message.aml" />
			<ComponentRef Id="Glossary.aml" />
			<ComponentRef Id="How_To.aml" />
			<ComponentRef Id="Orientation.aml" />
			<ComponentRef Id="Reference_With_Syntax.aml" />
			<ComponentRef Id="Reference_Without_Syntax.aml" />
			<ComponentRef Id="Reference.aml" />
			<ComponentRef Id="Sample.aml" />
			<ComponentRef Id="SDK_Technology_Architecture.aml" />
			<ComponentRef Id="SDK_Technology_Code_Directory.aml" />
			<ComponentRef Id="SDK_Technology_Orientation.aml" />
			<ComponentRef Id="SDK_Technology_Scenarios.aml" />
			<ComponentRef Id="SDK_Technology_Summary.aml" />
			<ComponentRef Id="Troubleshooting.aml" />
			<ComponentRef Id="User_Interface_Reference.aml" />
			<ComponentRef Id="Walkthrough.aml" />
			<ComponentRef Id="Whitepaper.aml" />
			<ComponentRef Id="XML_Reference.aml" />
		</ComponentGroup>

		<ComponentGroup Id="ItemTemplates">
			<ComponentRef Id="Bitmap.bmp" />
			<ComponentRef Id="Code_Snippets.snippets" />
			<ComponentRef Id="Content_Layout.content" />
			<ComponentRef Id="Html_Page.html" />
      <ComponentRef Id="Resource_Item_File.items" />
			<ComponentRef Id="Script_File.js" />
			<ComponentRef Id="Site_Map.sitemap" />
			<ComponentRef Id="Style_Sheet.css" />
			<ComponentRef Id="Text_File.txt" />
			<ComponentRef Id="Token_File.tokens" />
			<ComponentRef Id="XML_File.xml" />
			<ComponentRef Id="XSLT_File.xslt" />
		</ComponentGroup>

		<ComponentGroup Id="HelpTemplates">
			<ComponentRef Id="Build1xHelpFile.proj" />
			<ComponentRef Id="Build2xHelpFile.proj" />
			<ComponentRef Id="BuildConceptualTopics.proj" />
      <ComponentRef Id="BuildHelpViewerFile.proj" />
			<ComponentRef Id="BuildReferenceTopics.proj" />
			<ComponentRef Id="conceptual.config" />
			<ComponentRef Id="ExtractHtmlInfo.proj" />
			<ComponentRef Id="FixScriptSharp.xsl" />
			<ComponentRef Id="Generate2xTOC.proj" />
			<ComponentRef Id="GenerateInheritedDocs.config" />
			<ComponentRef Id="GenerateInheritedDocs.proj" />
			<ComponentRef Id="GenerateIntermediateTOC.proj" />
			<ComponentRef Id="GenerateRefInfo.proj" />
			<ComponentRef Id="Hana.config" />
			<ComponentRef Id="Hana.xsl" />
			<ComponentRef Id="Help1x.hhp" />
			<ComponentRef Id="Help2x.HxC" />
			<ComponentRef Id="Help2x.HxF" />
			<ComponentRef Id="Help2x_A.HxK" />
			<ComponentRef Id="Help2x_B.HxK" />
			<ComponentRef Id="Help2x_F.HxK" />
			<ComponentRef Id="Help2x_H2Reg.ini" />
			<ComponentRef Id="Help2x_K.HxK" />
			<ComponentRef Id="Help2x_NamedURLIndex.HxK" />
			<ComponentRef Id="Help2x_S.HxK" />
			<ComponentRef Id="HelpContentSetup.msha" />
			<ComponentRef Id="HelpFileBuilderTokens.tokens" />
			<ComponentRef Id="InstallMSHC.bat" />
			<ComponentRef Id="MRefBuilder.config" />
			<ComponentRef Id="PlaceHolderNode.aml" />
			<ComponentRef Id="Prototype.config" />
			<ComponentRef Id="Prototype.xsl" />
			<ComponentRef Id="RemoveMSHC.bat" />
			<ComponentRef Id="TransformBuildLog.xsl" />
			<ComponentRef Id="TransformManifest.proj" />
			<ComponentRef Id="VS2005.config" />
			<ComponentRef Id="VS2005.xsl" />
		</ComponentGroup>

		<ComponentGroup Id="Templates">
			<ComponentGroupRef Id="ConceptualTemplates"/>
			<ComponentGroupRef Id="ItemTemplates"/>
			<ComponentGroupRef Id="HelpTemplates"/>
		</ComponentGroup>
	</Fragment>
</Wix>