<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Product.wxi ?>

	<Fragment Id="Web">
		<DirectoryRef Id="INSTALLDIR">
			<Directory Id="Web" Name="Web">
				<Component Id="CloseSearch.png" Guid="{B2965606-F749-4489-B609-AD2EA25D8688}">
					<File Id="CloseSearch.png" KeyPath="yes" Source="$(var.BinFolder)Web\CloseSearch.png" />
				</Component>
				<Component Id="CollapseAll.bmp" Guid="{904074E1-EA4C-4DF4-B671-E163EC72A9E9}">
					<File Id="CollapseAll.bmp" KeyPath="yes" Source="$(var.BinFolder)Web\CollapseAll.bmp" />
				</Component>
				<Component Id="Collapsed.gif" Guid="{1C29DC79-7567-40B1-8E94-1CB1172865E7}">
					<File Id="Collapsed.gif" KeyPath="yes" Source="$(var.BinFolder)Web\Collapsed.gif" />
				</Component>
				<Component Id="ExpandAll.bmp" Guid="{00700AEC-8897-4521-8198-40E09AE2E786}">
					<File Id="ExpandAll.bmp" KeyPath="yes" Source="$(var.BinFolder)Web\ExpandAll.bmp" />
				</Component>
				<Component Id="Expanded.gif" Guid="{B3BF05CE-3D00-4FA2-A569-BB60A95F3E09}">
					<File Id="Expanded.gif" KeyPath="yes" Source="$(var.BinFolder)Web\Expanded.gif" />
				</Component>
				<Component Id="favicon.ico" Guid="{F78F9CBA-4898-4B41-BFE8-0FE6F6982241}">
					<File Id="favicon.ico" KeyPath="yes" Source="$(var.BinFolder)Web\favicon.ico" />
				</Component>
				<Component Id="FillNode.aspx" Guid="{99383062-4E8F-4ECB-AF50-FEB5D13A3341}">
					<File Id="FillNode.aspx" KeyPath="yes" Source="$(var.BinFolder)Web\FillNode.aspx" />
				</Component>
				<Component Id="FillNode.php" Guid="{9B95FF61-0129-4E72-A213-81526AD5B0CA}">
					<File Id="FillNode.php" KeyPath="yes" Source="$(var.BinFolder)Web\FillNode.php" />
				</Component>
				<Component Id="Index.aspx" Guid="{D14C1717-2F97-4CD8-A042-9643FA6D5733}">
					<File Id="Index.aspx" KeyPath="yes" Source="$(var.BinFolder)Web\Index.aspx" />
				</Component>
				<Component Id="Index.gif" Guid="{B305FE6B-81EE-4376-8F7B-1167BEF7EC50}">
					<File Id="Index.gif" KeyPath="yes" Source="$(var.BinFolder)Web\Index.gif" />
				</Component>
				<Component Id="Index.html" Guid="{2F4DD12B-5062-4425-83FB-7D5960E9F100}">
					<File Id="Index.html" KeyPath="yes" Source="$(var.BinFolder)Web\Index.html" />
				</Component>
				<Component Id="index.php" Guid="{2CD6ADC3-167F-4EFF-8308-675888AE1DEF}">
					<File Id="index.php" KeyPath="yes" Source="$(var.BinFolder)Web\index.php" />
				</Component>
				<Component Id="Item.gif" Guid="{F2D9F9CE-EE01-4131-AF68-FE1E1E8EBB92}">
					<File Id="Item.gif" KeyPath="yes" Source="$(var.BinFolder)Web\Item.gif" />
				</Component>
				<Component Id="LoadIndexKeywords.aspx" Guid="{EEE27F3B-8A0E-488A-A64C-AB590B06D831}">
					<File Id="LoadIndexKeywords.aspx" KeyPath="yes" Source="$(var.BinFolder)Web\LoadIndexKeywords.aspx" />
				</Component>
				<Component Id="LoadIndexKeywords.php" Guid="{2995B1A9-BC4D-4273-A328-B05292AC7D95}">
					<File Id="LoadIndexKeywords.php" KeyPath="yes" Source="$(var.BinFolder)Web\LoadIndexKeywords.php" />
				</Component>
				<Component Id="Search.gif" Guid="{E841A1B3-D313-4891-8230-78ABF6ABF1B9}">
					<File Id="Search.gif" KeyPath="yes" Source="$(var.BinFolder)Web\Search.gif" />
				</Component>
				<Component Id="SearchHelp.aspx" Guid="{EA1A9527-FA16-4FE4-996B-CD5F4C3988DA}">
					<File Id="SearchHelp.aspx" KeyPath="yes" Source="$(var.BinFolder)Web\SearchHelp.aspx" />
				</Component>
				<Component Id="SearchHelp.inc.php" Guid="{19F6B41A-5E11-4962-95C2-862AAAE71876}">
					<File Id="SearchHelp.inc.php" KeyPath="yes" Source="$(var.BinFolder)Web\SearchHelp.inc.php" />
				</Component>
				<Component Id="SearchHelp.php" Guid="{4B05B24A-E84D-4A0F-85BB-50CCBFB174A7}">
					<File Id="SearchHelp.php" KeyPath="yes" Source="$(var.BinFolder)Web\SearchHelp.php" />
				</Component>
				<Component Id="Splitter.gif" Guid="{993A5ED4-D736-4A14-A3B5-331003E0D5B3}">
					<File Id="Splitter.gif" KeyPath="yes" Source="$(var.BinFolder)Web\Splitter.gif" />
				</Component>
				<Component Id="SyncTOC.gif" Guid="{2481709F-4E1E-4EBC-B11E-5F4FE3D83B19}">
					<File Id="SyncTOC.gif" KeyPath="yes" Source="$(var.BinFolder)Web\SyncTOC.gif" />
				</Component>
				<Component Id="TOC.css" Guid="{422BF067-DCAD-48E8-89F2-A8BF7A0D38C5}">
					<File Id="TOC.css" KeyPath="yes" Source="$(var.BinFolder)Web\TOC.css" />
				</Component>
				<Component Id="TOC.js" Guid="{77FCF8FF-48C2-4C0D-9229-F5D55542C049}">
					<File Id="TOC.js" KeyPath="yes" Source="$(var.BinFolder)Web\TOC.js" />
				</Component>
				<Component Id="Web.Config" Guid="{DF732DCE-8A6C-40CA-89F4-CBC1D2D8089E}">
					<File Id="Web.Config" KeyPath="yes" Source="$(var.BinFolder)Web\Web.Config" />
				</Component>
			</Directory>
		</DirectoryRef>

		<ComponentGroup Id="Web">
			<ComponentRef Id="CloseSearch.png" />
			<ComponentRef Id="CollapseAll.bmp" />
			<ComponentRef Id="Collapsed.gif" />
			<ComponentRef Id="ExpandAll.bmp" />
			<ComponentRef Id="Expanded.gif" />
			<ComponentRef Id="favicon.ico" />
			<ComponentRef Id="FillNode.aspx" />
			<ComponentRef Id="FillNode.php" />
			<ComponentRef Id="Index.aspx" />
			<ComponentRef Id="Index.gif" />
			<ComponentRef Id="Index.html" />
			<ComponentRef Id="index.php" />
			<ComponentRef Id="Item.gif" />
			<ComponentRef Id="LoadIndexKeywords.aspx" />
			<ComponentRef Id="LoadIndexKeywords.php" />
			<ComponentRef Id="Search.gif" />
			<ComponentRef Id="SearchHelp.aspx" />
			<ComponentRef Id="SearchHelp.inc.php" />
			<ComponentRef Id="SearchHelp.php" />
			<ComponentRef Id="Splitter.gif" />
			<ComponentRef Id="SyncTOC.gif" />
			<ComponentRef Id="TOC.css" />
			<ComponentRef Id="TOC.js" />
			<ComponentRef Id="Web.Config" />
		</ComponentGroup>
	</Fragment>
</Wix>