<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ColorizerLibrary" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<httpRuntime requestValidationMode="2.0"/>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.5"/>
		<authentication mode="None"/>
		<customErrors mode="RemoteOnly"/>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!-- Colorizer Configuration -->
	<ColorizerLibrary>
		<!-- These are required -->
		<add key="syntax" value="C:\CP\TFS01\SHFB\SHFB\Source\CodeColorizer\TextColorizerTest\highlight.xml"/>
		<add key="style" value="C:\CP\TFS01\SHFB\SHFB\Source\CodeColorizer\TextColorizerTest\highlight.xsl"/>
		<!-- These are optional.  The default values if not specified are shown.  -->
		<add key="numberLines" value="false"/>
		<add key="outliningEnabled" value="false"/>
		<add key="tabSize" value="8"/>
	</ColorizerLibrary>
</configuration>