<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ColorizerLibrary" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<!-- Colorizer Configuration -->
	<ColorizerLibrary>
		<!-- These are required -->
		<add key="syntax" value="..\..\..\ColorizerLibrary\Template\highlight.xml"/>
		<add key="style" value="..\..\..\ColorizerLibrary\Template\highlight_flowDoc.xsl"/>

		<!-- Not required but we need to override this -->
		<add key="format" value="FlowDocument"/>

		<!-- These are optional.  The default values if not specified are shown.  -->
		<add key="numberLines" value="false"/>
		<add key="tabSize" value="8"/>
	</ColorizerLibrary>
</configuration>
