<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
              <assemblyIdentity name="TopCoder.Util.ConfigurationManager"
                  publicKeyToken="B7567367622062C6" culture="neutral"/>
              <bindingRedirect oldVersion="0.0.0.0-2.0.1.0"
                  newVersion="2.0.1.0"/>
          </dependentAssembly>
          <dependentAssembly>
              <assemblyIdentity name="TopCoder.Util.ObjectFactory"
                  publicKeyToken="B7567367622062C6" culture="neutral"/>
              <bindingRedirect oldVersion="0.0.0.0-1.2.1.0"
                  newVersion="1.2.1.0"/>
          </dependentAssembly>
          <dependentAssembly>
              <assemblyIdentity name="TopCoder.LoggingWrapper"
                  publicKeyToken="B7567367622062C6" culture="neutral"/>
              <bindingRedirect oldVersion="0.0.0.0-3.0.0.0"
                  newVersion="3.0.0.0"/>
          </dependentAssembly>
          <dependentAssembly>
              <assemblyIdentity name="TopCoder.Util.ExceptionManager.SDE"
                  publicKeyToken="B7567367622062C6" culture="neutral"/>
              <bindingRedirect oldVersion="0.0.0.0-2.1.2.0"
                  newVersion="2.1.2.0"/>
          </dependentAssembly>
          <dependentAssembly>
              <assemblyIdentity name="TopCoder.Util.ExceptionManager"
                  publicKeyToken="B7567367622062C6" culture="neutral"/>
              <bindingRedirect oldVersion="0.0.0.0-2.0.0.0"
                  newVersion="2.0.0.0"/>
          </dependentAssembly>
          <dependentAssembly>
              <assemblyIdentity name="TopCoder.Configuration.File"
                  publicKeyToken="B7567367622062C6" culture="neutral"/>
              <bindingRedirect oldVersion="0.0.0.0-2.0.0.0"
                  newVersion="2.0.0.0"/>
          </dependentAssembly>
      </assemblyBinding>
  </runtime>
</configuration>
