/* Style adjustments for Help Viewer */
table {
	width: 95%;
}

.topicContent {
    border-left: 0;
}

.codeSnippetContainerTabs {
	top: 1px;
}

.codeSnippetToolBarText {
	top: -13px;
}

.codeSnippetContainerTabSingle {
	height: 22px;
}

.codeSnippetContainerTab a:visited {
	color: #000000;
}

.codeSnippetContainerTabActive a:visited {
	color: #000000;
}
